@using CI_Platform.Entities.ViewModels
@model PageListViewModel.PageList<MissionListViewModel>

@{
    //var Id = ViewBag.Id;
    //var email = ViewBag.email;
    //var Username = ViewBag.Username;

    var Id = Convert.ToInt64(ViewBag.UserId);
    //var totalRecords = ViewBag.totalRecords;
}


<script>
    if (localStorage.getItem('view') == 1) {
        $('#grid-view').show();
        $('#list-view').hide();
    }
    else {
        $('#list-view').show();
        $('#grid-view').hide();
    }
</script>


<span id="missionCount" class="d-none"> @Model.TotalCount  </span>

@*grid view*@
<div class="container my-5" id="grid-view">
    <div class=" row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-sm-1 g-4">
     
        <!-- Card starts from col -->
        @foreach (var obj in Model.Records)
        {
          
            
            <div class="col card-div ">
                <div class="card grid-card  h-100 shadow">
                    <span class="d-none"> @obj.MissionCard.MissionId </span>
                    <span class="created-date d-none ">@obj.MissionCard.CreatedAt </span>

                   
                    <span class="mission-country d-none">@obj.MissionCard.CountryId</span>
                    <span> </span>
                    <div class="pill-on-img">


                        @if (obj.missionMedia.Count() == 0)
                        {
                            <img src="~/images/no-image.png" class="  card-img-top" />
                        }
                        else
                        {

                            @foreach (var img in obj.missionMedia.Take(1))
                            {
                                <img src="~/images/@img" class=" card-img-top">
                            }
                        }



                        @if (obj.Applied)
                        {
                            <div class="applied-pill" style="background:green 0% 0% no-repeat;">
                                <span>APPLIED</span>
                            </div>
                        }

                        @if (obj.HasDeadlinePassed || obj.HasEndDatePassed || obj.seatsLeft <= 0)
                        {
                            <div class="applied-pill" style="background:red 0% 0% no-repeat;">
                                <span>CLOSED</span>
                            </div>
                        }

                        @if (obj.IsApplicationPending)
                        {
                            <div class="applied-pill" style="background:orange 0% 0% no-repeat;">
                                <span>Approval Pending</span>
                            </div>
                        }

                        <div class="location">
                            <img src="~/images/pin1.png">
                            <span class="mission-city">@obj.CityName</span>
                        </div>

                        @if (obj.favMission)
                        {
                            <button class="  like-on-img favourite-button" onclick="favourite()" data-mission-id="@obj.MissionCard.MissionId">
                                <i class="bi bi-heart-fill  filled-heart text-danger"></i>

                            </button>

                        }

                        else
                        {
                            <button class="favourite-button  like-on-img " onclick="favourite()" data-mission-id="@obj.MissionCard.MissionId">
                                <i class="bi bi-heart empty-heart text-light  "></i>
                            </button>
                        }
                        @*recommended to co worker*@
                        <button class="add-on-img" type="submit" data-user-id="@Id" data-mission-id="@obj.MissionCard.MissionId" data-bs-toggle="modal" data-bs-target="#GridViewCoworkerInviteModal">
                            <img style="opacity: 1;" src="~/images/add1.png">
                        </button>

                        <div class="modal fade" id="GridViewCoworkerInviteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Recommend to a Co-Worker</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="grid-modal-body">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                                    </div>
                                </div>
                            </div>
                        </div>




                        <div class="theme-pill rounded-pill "> <span class="mission-theme">@obj.ThemeTitle</span>  </div>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title ">@obj.MissionCard.Title</h3>
                        <p class="card-text align-items-center">
                            @{
                                int maxLength = 100;
                                string description = obj.MissionCard.Description.Length > maxLength
                                ? @obj.MissionCard.Description.Substring(0, maxLength) + "..."
                                : @obj.MissionCard.Description;
                            }

                            @description
                        </p>
                        <div class="d-flex justify-content-between">
                            @obj.MissionCard.OrganizationName
                            <div class="stars">
                                @if (obj.avgRating != null)
                                {
                                    @for (int i = 1; i <= obj.avgRating; i++)
                                    {
                                        <img src="~/images/selected-star.png" />
                                    }
                                    @for (int i = 5; i > obj.avgRating; i--)
                                    {
                                        <img src="~/images/star.png" />
                                    }
                                }
                                else
                                {
                                    @for (int i = 1; i <= 5; i++)
                                    {
                                        <img src="~/images/star.png" />
                                    }
                                }

                            </div>

                        </div>
                    </div>


                    @if (obj.Applied)
                    {
                        <div class=" d-flex pb-3 justify-content-center">
                            <a class="btn btn card-btn" href="@Url.Action("MissionDetail", "Home" , new { MissionId = @obj.MissionCard.MissionId})">
                                View Details &nbsp;&nbsp;<img src="~/images/right-arrow.png" />
                                <img src="~/images/right-arrow2.png" />
                            </a>
                        </div>
                    }
                    else
                    {
                        <div class="m-3 list-group position-relative ">
                            <div class="time-pill rounded-pill ">
                                @if (obj.MissionCard.MissionType.Equals("Time"))
                                {
                                    if (obj.IsOngoing)
                                    {
                                        <span>Ongoing Opportunity</span>
                                    }
                                    else
                                    {
                                        <span>From @obj.MissionCard.StartDate.Value.ToShortDateString() until @obj.MissionCard.EndDate.Value.ToShortDateString()</span>
                                    }
                                }
                                else
                                {
                                    @foreach (var goal_mission in obj.goalMission)
                                    {
                                        @goal_mission.GoalObjectiveText
                                    }
                                }
                            </div>
                            <div class="row gutter mt-4 mb-2 justify-content-around">
                                <div class="col card-detail">
                                    <img class="icon-detail my-2" src="~/images/Seats-left.png" alt="seats left">
                                    <div class="card-detail-text">

                                        <p class="seat-left">  @obj.seatsLeft </p>
                                        <span>Seats left</span>
                                    </div>
                                </div>
                                @if (obj.MissionCard.MissionType.Equals("Time"))
                                {
                                    <div class="col card-detail">
                                        <img class="icon-detail my-2" src="~/images/deadline.png" alt="deadline">
                                        <div class="card-detail-text ">
                                            <p class="deadline">@obj.MissionCard.StartDate.Value.AddDays(-1).ToShortDateString()</p>
                                            <span>Deadline</span>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    @foreach (var goal_mission in obj.goalMission)
                                    {
                                        <div class="col card-detail">
                                            <img class="icon-detail my-2" src="~/images/achieved.png" alt="deadline">
                                            <div class="card-detail-text">
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" aria-label="Warning example" style="background-color: #F88634; width:@goal_mission.GoalValue%" aria - valuenow="@goal_mission.GoalValue" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                                <span>@goal_mission.GoalValue achieved</span>
                                            </div>
                                        </div>
                                    }

                                }
                            </div>
                        </div>

                        @if (obj.HasEndDatePassed || obj.seatsLeft <= 0 || obj.HasDeadlinePassed || obj.IsApplicationPending)
                        {
                            <div class=" d-flex pb-3 justify-content-center">
                                <a class="btn card-btn" href="@Url.Action("MissionDetail", "Home" , new { MissionId = @obj.MissionCard.MissionId})">
                                    View Details  &nbsp;&nbsp;&nbsp;
                                    <img src="~/images/right-arrow.png">
                                    <img src="~/images/right-arrow2.png" />
                                </a>
                            </div>
                        }
                        else
                        {
                            <div class=" d-flex pb-3 justify-content-center">
                                <a class="btn card-btn" href="@Url.Action("MissionDetail", "Home" , new { MissionId = @obj.MissionCard.MissionId})">
                                    Apply  &nbsp;&nbsp;&nbsp;
                                    <img src="~/images/right-arrow.png">
                                    <img src="~/images/right-arrow2.png" />
                                </a>
                            </div>
                        }

                    }

                </div>
            </div>
        }

        <!-- card ends here -->
    </div>

</div>

@*list view*@
<div class="container " id="list-view">
    @foreach (var obj in Model.Records)
    {
   

        <div class=" card-div card my-5 ">
            <div class="row g-0 list-card ">
                <span class="created-date d-none">@obj.createdAt </span>
                <div class="col-md-4 ">
                    <div class="pill-on-img">

                       

                        @if (obj.missionMedia.Count() == 0)
                        {
                            <img src="~/images/no-image.png" class="card-img-top" />
                        }
                        else
                        {

                            @foreach (var img in obj.missionMedia.Take(1))
                            {
                                <img src="~/images/@img" class="card-img-top">
                            }
                        }


                        @if (obj.Applied)
                        {
                            <div class="applied-pill" style="background:green 0% 0% no-repeat;">
                                <span>APPLIED</span>
                            </div>
                        }

                        @if(obj.HasDeadlinePassed || obj.seatsLeft <= 0 || obj.HasEndDatePassed)
                        {
                            <div class="applied-pill" style="background:red 0% 0% no-repeat;">
                                <span>CLOSED</span>
                            </div>
                        }
                        @if (obj.IsApplicationPending)
                        {
                            <div class="applied-pill" style="background:orange 0% 0% no-repeat;">
                                <span>Approval Pending</span>
                            </div>
                        }


                        <div class="location">
                            <img src="~/images/pin1.png">
                            @obj.CityName
                        </div>


                        @if (obj.favMission)
                        {
                            <button class="  like-on-img favourite-button" onclick="favourite()" data-mission-id="@obj.MissionCard.MissionId">
                                <i class="bi bi-heart-fill  filled-heart text-danger"></i>

                            </button>

                        }
                        else
                        {
                            <button class="favourite-button  like-on-img " onclick="favourite()" data-mission-id="@obj.MissionCard.MissionId">
                                <i class="bi bi-heart empty-heart text-light  "></i>
                            </button>
                        }

                        <button class="add-on-img" type="submit" data-user-id="@Id" data-mission-id="@obj.MissionCard.MissionId" data-bs-toggle="modal" data-bs-target="#ListViewCoworkerInviteModal">
                            <img style="opacity: 1;" src="~/images/add1.png">
                        </button>

                        <div class="modal fade" id="ListViewCoworkerInviteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Recommend to a Co-Worker</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="grid-modal-body">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="theme-pill rounded-pill"> @obj.ThemeTitle </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card-body listView-card-details">
                        <div class="card-text d-flex justify-content-between">
                            <div>
                                <img class="p-2" src="~/images/pin1.png" />
                                <span class="pe-2"> @obj.CityName</span>
                                <img class="p-2" src="~/images/web.png" />
                                <span class="pe-2">@obj.ThemeTitle</span>
                                <img class="p-2" src="~/images/organization.png" />
                                <span class="pe-2">@obj.MissionCard.OrganizationName</span>
                            </div>
                            <div>
                                @if(obj.avgRating != null)
                                {
                                    @for (int i = 1; i <= obj.avgRating; i++)
                                    {
                                        <img src="~/images/selected-star.png" />
                                    }
                                    @for (int i = 5; i > obj.avgRating; i--)
                                    {
                                        <img src="~/images/star.png" />
                                    }
                                }
                                else
                                {
                                    @for (int i = 1; i <= 5; i++)
                                    {
                                        <img src="~/images/selected-star.png" />
                                    }
                                }
                            </div>
                        </div>
                        <h3 class="card-title">@obj.MissionCard.Title</h3>
                        <p class="card-text">@obj.MissionCard.ShortDescription</p>
                        <div class="card-text d-flex justify-content-between pt-4">
                            <div>
                                <div class="row gutter justify-content-around">
                                    <div class="col card-detail-listview">
                                        <img class="icon-detail icon" src="~/images/Seats-left.png" alt="seats left">
                                        <div class="card-detail-text">
                                            <p class="seat-left">  @obj.seatsLeft</p>
                                            <p>Seats left</p>
                                        </div>
                                    </div>

                                    @if (obj.MissionCard.MissionType.Equals("Time"))
                                    {
                                        <div class="col card-detail-listview">
                                            <img class="icon-detail icon" src="~/images/calender.png" alt="calender">
                                            <div class="card-detail-text">
                                                <p>From  @obj.MissionCard.StartDate.Value.ToShortDateString()</p>
                                                <p>Until @obj.MissionCard.EndDate.Value.ToShortDateString()</p>
                                            </div>
                                        </div>

                                    }

                                    else
                                    {
                                        @foreach (var goal_mission in obj.goalMission)
                                        {
                                            <div class="col card-detail-listview">
                                                <img class="icon-detail icon" src="~/images/achieved.png" alt="deadline">
                                                <div class="card-detail-text">
                                                    <div class="progress" role="progressbar" aria-label="Warning example" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                                        <div class="progress-bar" style=" background-color: #F88634;"></div>
                                                    </div>
                                                    <p>@goal_mission.GoalValue</p>
                                                    <p>achieved</p>
                                                </div>
                                            </div>

                                        }
                                    }

                                    <div class="col card-detail-listview">
                                        <i class="bi bi-tools icon-detail icon text-secondary tools-icon"></i>
                                        <div class="card-detail-text">
                                            <p>Skills</p>

                                            @if (obj.skillName.Any())
                                            {
                                                <p class="skillName">@obj.skillName.First()</p>
                                            }
                                            else
                                            {
                                                <span>No Skills required</span>
                                            }

                                        </div>
                                    </div>
                                </div>
                            </div>
                            @if (obj.Applied || obj.HasDeadlinePassed || obj.HasEndDatePassed || obj.seatsLeft <= 0 || obj.IsApplicationPending)
                            {
                                <div class=" d-flex pb-3 justify-content-center">
                                    <a class="btn card-btn" href="@Url.Action("MissionDetail", "Home" , new { MissionId = @obj.MissionCard.MissionId})">
                                        View Details  &nbsp;&nbsp;&nbsp;
                                        <img src="~/images/right-arrow.png">
                                        <img src="~/images/right-arrow2.png" />
                                    </a>
                                </div>
                            }
                            else
                            {
                                <div class=" d-flex pb-3 justify-content-center">
                                    <a class="btn card-btn" href="@Url.Action("MissionDetail", "Home" , new { MissionId = @obj.MissionCard.MissionId})">
                                        Apply  &nbsp;&nbsp;&nbsp;
                                        <img src="~/images/right-arrow.png">
                                        <img src="~/images/right-arrow2.png" />
                                    </a>
                                </div>
                            }
                        </div>

                    </div>
                </div>
            </div>
        </div>
    }
</div>
