@{
    Layout = "_Layout";
    ViewData["Title"] = "Homepage";
    var MissionList = ViewBag.MissionList;
    //DateTime StartDate = MissionList.StartDate.GetDate();
    //var Stars = .MissionList.MissionRatings.Rating.ToInt32();
}
@model CI_Platform.Entities.DataModels.Mission

<link rel="stylesheet" href="~/css/AuthStyle.css" asp-append-version="true" />

<!-- Main content starts from here -->
<!-- selected filters div -->
<partial name="_SearchNav"></partial>

<!-- selected filters div ends here -->
<!-- Heading of page -->
<div class="container justify-content-between d-flex mt-4">
    <h2>Explore 72 Missions</h2>
    <div class="d-none d-md-flex justify-content-start">
        <div class="dropdown mx-4 ">
            <div class="dropdown-toggle h-auto" href="#" role="button" data-bs-toggle="dropdown"
                 aria-expanded="false" style="border:1px solid black">
                Sort BY
                <img class="ps-5 pe-2" src="~/images/drop-down.png">
            </div>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Newest</a></li>
                <li><a class="dropdown-item" href="#">Oldest</a></li>
                <li><a class="dropdown-item" href="#">Lower Available seats</a></li>
            </ul>
        </div>
        <button class="btn grid" type="submit" id="grid-btn" onclick="show_grid()">
            <img src="~/images/grid.png" alt="">
        </button>
        <button class="btn list ms-2" type="submit" id="list-btn" onclick="show_list()">
            <img src="~/images/list.png" alt="">
        </button>
        @*<ul class="nav nav-tabs">
        <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#" >
        <img src="~/images/grid.png">
        </a>
        </li>
        <li class="nav-item" >
        <a class="nav-link" asp-contoller="Home" asp-action="ListView" >
        <img src="~/images/list.png">
        </a>
        </li>
        </ul>*@
    </div>
</div>
<!-- Heading of page -->
<!-- Card start for GridView -->
<div class="container my-5" id="grid-view">
    <div class=" row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-sm-1   g-4">
        <!-- Card starts from col -->
        @foreach (var obj in MissionList)
        {
        <div class="col">
            <div class="card  ">
                <div class="pill-on-img">
                    <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-1.png"
                         class="card-img-top" alt="...">
                    <div class="location">
                        <img src="~/images/pin1.png">
                        @obj.City.CityName
                    </div>
                    <div class="like-on-img">
                        <img style="opacity: 1;" src="~/images/heart.png">
                    </div>
                    <div class="add-on-img">
                        <img style="opacity: 1;" src="~/images/add1.png">
                    </div>
                    <div class="theme-pill rounded-pill"> @obj.MissionTheme.Title </div>
                </div>
                <div class="card-body">
                    <h3 class="card-title">@obj.Title</h3>
                    <p class="card-text align-items-center">@obj.ShortDescription</p>
                    <div class="d-flex justify-content-between">
                        @obj.OrganizationName
                        <div class="stars">
                            @*<img src="~/images/selected-star.png">
                            <img src="~/images/selected-star.png">
                            <img src="~/images/selected-star.png">
                            <img src="~/images/star.png">
                            <img src="~/images/star.png">*@
                               @* @obj.MissionRatings.MissionRatingId*@
                               @* @foreach (var i in @obj.MissionRatings.Rating)
                                {
                                    <img src="~/images/selected-star.png">
                                }*@
                                @*@foreach (var i in @obj.cnt)
                                {
                                    <img src="~/images/star.png">
                                }*@
                        </div>
                    </div>
                </div>

                <div class="m-3 list-group position-relative ">
                        <div class="time-pill rounded-pill "> From @obj.StartDate.ToShortDateString() until @obj.EndDate.ToShortDateString() </div>
                    <div class="row gutter mt-4 mb-2 justify-content-around">
                        <div class="col card-detail">
                            <img class="icon-detail my-2" src="~/images/Seats-left.png" alt="seats left">
                            <div class="card-detail-text">
                                <p>10</p>
                                <span>Seats left</span>
                            </div>
                        </div>
                        <div class="col card-detail">
                            <img class="icon-detail my-2" src="~/images/deadline.png" alt="deadline">
                            <div class="card-detail-text">
                                <p>09/01/2019 </p>
                                <span>Deadline</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class=" d-flex pb-3 justify-content-center">
                    <button type="submit" class="btn card-btn">
                        Apply
                        <img src="~/images/right-arrow.png">
                        <img src="~/images/right-arrow2.png" />
                    </button>
                </div>
            </div>
        </div>
        }

        <!-- card 1 ends here and card 2 starts -->
        @*<div class="col">
            <div class="card  ">
                <div class="pill-on-img">
                    <img src="~/images/Education-Supplies-for-Every--Pair-of-Shoes-Sold-1.png"
                         class="card-img-top" alt="...">
                    <div class="location">
                        <img src="~/images/pin1.png">
                        Melbourne
                    </div>
                    <div class="like-on-img">
                        <img style="opacity: 1;" src="~/images/heart.png">
                    </div>
                    <div class="add-on-img">
                        <img style="opacity: 1;" src="~/images/add1.png">
                    </div>
                    <div class="theme-pill rounded-pill"> Children </div>
                </div>
                <div class="card-body">
                    <h3 class="card-title">Education Supplies for Every Pair of Shoes Sold</h3>
                    <p class="card-text align-items-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore...</p>
                    <div class="d-flex justify-content-between">
                        Australian Paradise
                        <div class="stars">
                            <img src="~/images/selected-star.png">
                            <img src="~/images/selected-star.png">
                            <img src="~/images/selected-star.png">
                            <img src="~/images/star.png">
                            <img src="~/images/star.png">
                        </div>
                    </div>
                </div>

                <div class="m-3 list-group position-relative ">
                    <div class="time-pill rounded-pill "> From 10/01/2019 until 25/02/2019 </div>
                    <div class="row gutter mt-4 mb-2 justify-content-around">
                        <div class="col card-detail">
                            <img class="icon-detail my-2" src="~/images/Already-volunteered.png" alt="seats left">
                            <div class="card-detail-text">
                                <p>250</p>
                                <span>Already Volunteered</span>
                            </div>
                        </div>
                        <div class="col card-detail">
                            <img class="icon-detail my-2" src="~/images/deadline.png" alt="deadline">
                            <div class="card-detail-text">
                                <p>09/01/2019 </p>
                                <span>Deadline</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class=" d-flex pb-3 justify-content-center">
                    <button type="submit" class="btn card-btn">
                        Apply
                        <img src="~/images/right-arrow.png">
                    </button>
                </div>
            </div>
        </div>*@
        <!-- card 2 ends here and card 3 starts -->
       @* <div class="col">
            <div class="card  ">
                <div class="pill-on-img">
                    <img src="~/images/Nourish-the-Children-in--African-country-1.png"
                         class="card-img-top" alt="...">
                    <div class="location">
                        <img src="~/images/pin1.png">
                        Barcelona
                    </div>
                    <div class="like-on-img">
                        <img style="opacity: 1;" src="~/images/heart.png">
                    </div>
                    <div class="add-on-img">
                        <img style="opacity: 1;" src="~/images/add1.png">
                    </div>
                    <div class="theme-pill rounded-pill"> Environment </div>
                </div>
                <div class="card-body">
                    <h3 class="card-title">Nourish the Children in African country</h3>
                    <p class="card-text align-items-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore...</p>
                    <div class="d-flex justify-content-between">
                        The Hunger
                        <div class="stars">
                            <img src="~/images/selected-star.png">
                            <img src="~/images/selected-star.png">
                            <img src="~/images/selected-star.png">
                            <img src="~/images/star.png">
                            <img src="~/images/star.png">
                        </div>
                    </div>
                </div>

                <div class="m-3 list-group position-relative ">
                    <div class="time-pill rounded-pill "> Ongoing Opportunity </div>
                    <div class="row gutter mt-4 mb-2 justify-content-around">
                        <div class="col card-detail">
                            <img class="icon-detail my-2" src="~/images/Seats-left.png" alt="seats left">
                            <div class="card-detail-text">
                                <p>10</p>
                                <span>Seats left</span>
                            </div>
                        </div>
                        <div class="col card-detail">
                            <img class="icon-detail my-2" src="~/images/deadline.png" alt="deadline">
                            <div class="card-detail-text">
                                <p>09/01/2019 </p>
                                <span>Deadline</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class=" d-flex pb-3 justify-content-center">
                    <button type="submit" class="btn card-btn">
                        Apply
                        <img src="~/images/right-arrow.png">
                    </button>
                </div>
            </div>
        </div>*@
        <!-- card 3 ends here and card 4 starts -->
       @* <div class="col">
            <div class="card  ">
                <div class="pill-on-img">
                    <img src="~/images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-1.png"
                         class="card-img-top" alt="...">
                    <div class="location">
                        <img src="~/images/pin1.png">
                        London
                    </div>
                    <div class="like-on-img">
                        <img style="opacity: 1;" src="~/images/heart.png">
                    </div>
                    <div class="add-on-img">
                        <img style="opacity: 1;" src="~/images/add1.png">
                    </div>
                    <div class="theme-pill rounded-pill"> Environment </div>
                </div>
                <div class="card-body">
                    <h3 class="card-title">CSR initiative stands for Coffee and Farmer Equity</h3>
                    <p class="card-text align-items-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore...</p>
                    <div class="d-flex justify-content-between">
                        CSE Network
                        <div class="stars">
                            <img src="~/images/selected-star.png">
                            <img src="~/images/selected-star.png">
                            <img src="~/images/selected-star.png">
                            <img src="~/images/star.png">
                            <img src="~/images/star.png">
                        </div>
                    </div>
                </div>

                <div class="m-3 list-group position-relative ">
                    <div class="time-pill rounded-pill "> Ongoing Opportunity </div>
                    <div class="row gutter mt-4 mb-2 justify-content-around">
                        <div class="col card-detail">
                            <img class="icon-detail my-2" src="~/images/Already-volunteered.png" alt="seats left">
                            <div class="card-detail-text">
                                <p>250</p>
                                <span>Already Volunteered</span>
                            </div>
                        </div>

                    </div>
                </div>

                <div class=" d-flex pb-3 justify-content-center">
                    @*<button  type="submit" class="btn card-btn">*@
                   @* <a class="btn card-btn" asp-controller="Home" asp-action="MissionDetail">
                        Apply
                        <img src="~/images/right-arrow.png">
                    </a>*@

                    @*</button>*@
               @* </div>
            </div>
        </div>*@
        <!-- card 4 ends here and card 5 starts -->
       @* <div class="col">
            <div class="card  ">
                <div class="pill-on-img">
                    <img src="~/images/Animal-welfare-&-save-birds-campaign-1.png"
                         class="card-img-top" alt="...">
                    <div class="location">
                        <img src="~/images/pin1.png">
                        Cape Town
                    </div>
                    <div class="like-on-img">
                        <img style="opacity: 1;" src="~/images/heart.png">
                    </div>
                    <div class="add-on-img">
                        <img style="opacity: 1;" src="~/images/add1.png">
                    </div>
                    <div class="theme-pill rounded-pill">Animals </div>
                </div>
                <div class="card-body">
                    <h3 class="card-title">Animal welfare & save birds campaign </h3>
                    <p class="card-text align-items-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore...</p>
                    <div class="d-flex justify-content-between">
                        CSE Network
                        <div class="stars">
                            <img src="~/images/selected-star.png">
                            <img src="~/images/selected-star.png">
                            <img src="~/images/selected-star.png">
                            <img src="~/images/star.png">
                            <img src="~/images/star.png">
                        </div>
                    </div>
                </div>

                <div class="m-3 list-group position-relative ">
                    <div class="time-pill rounded-pill "> Ongoing Opportunity </div>
                    <div class="row gutter mt-4 mb-2 justify-content-around">
                        <div class="col card-detail">
                            <img class="icon-detail my-2" src="~/images/Seats-left.png" alt="seats left">
                            <div class="card-detail-text">
                                <p>10</p>
                                <span>Seats left</span>
                            </div>
                        </div>
                        <div class="col card-detail">
                            <img class="icon-detail my-2" src="~/images/achieved.png" alt="deadline">
                            <div class="card-detail-text">
                                <div class="progress" role="progressbar" aria-label="Warning example" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" style="width: 80%; background-color: #F88634;"></div>
                                </div>
                                <span>8000 achieved</span>
                            </div>
                        </div>

                    </div>
                </div>

                <div class=" d-flex pb-3 justify-content-center">
                    <button type="submit" class="btn card-btn">
                        Apply
                        <img src="~/images/right-arrow.png">
                    </button>
                </div>
            </div>
        </div>*@
        <!-- card 5 ends here and card 6 starts -->
    </div>
</div>
<!-- Card end for GridView -->
<!-- Card start for ListView -->
<div class="container " id="list-view">
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <div class="pill-on-img">
                    <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-1.png"
                         class="card-img-top" alt="...">
                    <div class="applied-pill">
                        APPLIED
                    </div>
                    <div class="location">
                        <img src="~/images/pin1.png">
                        Toronto
                    </div>
                    <div class="like-on-img">
                        <img style="opacity: 1;" src="~/images/heart.png">
                    </div>
                    <div class="add-on-img">
                        <img style="opacity: 1;" src="~/images/add1.png">
                    </div>
                    <div class="theme-pill rounded-pill"> Environment </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <div class="card-text d-flex justify-content-between">
                        <div>
                            <img class="p-2" src="~/images/pin1.png" />
                            <span class="pe-2">Atlanta</span>
                            <img class="p-2" src="~/images/web.png" />
                            <span class="pe-2">Environment</span>
                            <img class="p-2" src="~/images/organization.png" />
                            <span class="pe-2">Smith International Caring Foundation</span>
                        </div>
                        <div>
                            <img class="py-1" src="~/images/selected-star.png" />
                            <img class="py-1" src="~/images/selected-star.png" />
                            <img class="py-1" src="~/images/selected-star.png" />
                            <img class="py-1" src="~/images/selected-star.png" />
                            <img class="py-1" src="~/images/selected-star.png" />
                        </div>
                    </div>
                    <h3 class="card-title">Grow Trees On the path to environment sustainability</h3>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore...</p>
                    <div class="card-text d-flex justify-content-between pt-5">
                        <div>
                            <div class="row gutter justify-content-around">
                                <div class="col card-detail-listview">
                                    <img class="icon-detail icon" src="~/images/Seats-left.png" alt="seats left">
                                    <div class="card-detail-text">
                                        <p>297</p>
                                        <p>Seats left</p>
                                    </div>
                                </div>
                                <div class="col card-detail-listview">
                                    <img class="icon-detail icon" src="~/images/achieved.png" alt="deadline">
                                    <div class="card-detail-text">
                                        <div class="progress" role="progressbar" aria-label="Warning example" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                            <div class="progress-bar" style=" background-color: #F88634;"></div>
                                        </div>
                                        <p></p>
                                        <p>achieved</p>
                                    </div>
                                </div>
                                <div class="col card-detail-listview">
                                    <img class="icon-detail icon" src="~/images/calender.png" alt="seats left">
                                    <div class="card-detail-text">
                                        <p>From 09/10/2019</p>
                                        <p>Until 10/11/2019</p>
                                    </div>
                                </div>
                                <div class="col card-detail-listview">
                                    <i class="bi bi-tools icon-detail icon text-secondary tools-icon"></i>
                                    <div class="card-detail-text">
                                        <p>Skills</p>
                                        <p>Botany</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <button type="submit" class="btn card-btn">
                                View Details
                                <img src="~/images/right-arrow.png">
                                <img src="~/images/right-arrow2.png" />
                            </button>
                        </div>
                    </div>
                    </>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Card ends for ListView -->
<!-- Pagination starts here -->
<nav>
    <ul class="pagination  d-flex justify-content-center flex-wrap pagination-flat pagination-success">
        <li class="page-item me-2"><a class="page-link" href="#" data-abc="true"><img src="~/images/previous.png" /></a></li>
        <li class="page-item me-2"><a class="page-link" href="#" data-abc="true"><img src="~/images/left.png" /></a></li>
        <li class="page-item me-2 active"><a class="page-link" href="#" data-abc="true">1</a></li>
        <li class="page-item me-2"><a class="page-link" href="#" data-abc="true">2</a></li>
        <li class="page-item me-2"><a class="page-link" href="#" data-abc="true">3</a></li>
        <li class="page-item me-2"><a class="page-link" href="#" data-abc="true">4</a></li>
        <li class="page-item me-2"><a class="page-link" href="#" data-abc="true"><img src="~/images/right-arrow1.png" /> </a></li>
        <li class="page-item me-2"><a class="page-link" href="#" data-abc="true"><img src="~/images/next.png" /></a></li>

    </ul>
</nav>

<!-- Pagination ends here -->
<!-- Main content ends here -->

<script>
    arr = new Set([]);
    function isCheckedById(id) {

        checkbox = document.getElementById(id);
        console.log(id);
        var k = document.getElementById("filter-items");
        if (event.target.checked) {
            arr.add(event.target.value);
            console.log(arr);
        }
        else {
            arr.delete(event.target.value);
        }
        console.log(arr);
        var temp = "";
        for (const item of arr) {
            console.log("hello");
            temp += `<span class="rounded-pill alert border-dark px-2 py-0 m-2">
    ${item}
    <button type="button" class="btn-close" value="${item}" aria-label="Close" data-bs-dismiss="alert"></button>
    </span>`;
        }
        k.innerHTML = temp;
    }
</script>