@{
    ViewData["Title"] = "Volunteering Mission Page";
    Layout = "_Layout";
    var UserId = ViewBag.UserId;
}
@model CI_Platform.Entities.ViewModels.MissionDetailViewModel
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />

<div class="container py-5">
    <div class="row volunteer-card">
        <div class="col-lg-6">
            <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper mySwiper2">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="~/images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-2.png" />
                    </div>
                    <div class="swiper-slide">
                        bottom                 <img src="~/images/img1.png" />
                    </div>
                    <div class="swiper-slide">
                        <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-login.png" />
                    </div>
                    <div class="swiper-slide">
                        <img src="~/images/img1.png" />
                    </div>
                    <div class="swiper-slide">
                        <img src="~/images/image1.png" />
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
            <div thumbsSlider="" class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="~/images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-2.png" />
                    </div>
                    <div class="swiper-slide">
                        <img src="~/images/img1.png" />
                    </div>
                    <div class="swiper-slide">
                        <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-login.png" />
                    </div>
                    <div class="swiper-slide">
                        <img src="~/images/img11.png" />
                    </div>
                    <div class="swiper-slide">
                        <img src="~/images/image1.png" />
                    </div>

                </div>

            </div>
        </div>



        @{
            
            string userId = ViewBag.UserId;
            var mission_id = Model.MissionDetails.MissionId;
            long Id = long.Parse(userId);
            var count = Model.MissionDetails.MissionRatings.Count();
            double avg_rating = Model.MissionDetails.MissionRatings.Average(r => r.Rating);
            DateTime? currDate = @DateTime.Now;
            TimeSpan timeSpan = new TimeSpan(1, 0, 0, 0);
            var deadline = Model.MissionDetails.StartDate - timeSpan;
            bool isDeadlinePassed = currDate > deadline;
            bool isEndDatePassed = currDate > Model.MissionDetails.EndDate;
            bool isOngoing = currDate > Model.MissionDetails.StartDate;
            bool isAlreadyApplied = Model.MissionDetails.MissionApplications.Any(a => a.UserId == Id);
            double missionRating = 0;
            
            var registered_users = Model.MissionDetails.MissionApplications.Count(m => m.ApprovalStatus.Contains("APPROVE"));
            var seats_left = Model.MissionDetails.TotalSeats - registered_users;
          
        }
        @*@foreach (var rate in Model.MissionDetails.MissionRatings.Where(r => r.MissionId == mission_id && UserId == userId))
        {
            missionRating = rate.Rating;
        }*@
       @foreach ( var rate in Model.MissionDetails.MissionRatings.Where(r => r.MissionId == mission_id && UserId == userId))
        {
            missionRating = rate.Rating;
        }
       @* @foreach (var rate in Model.MissionDetails.MissionRatings.Any())
        {
            missionRating = Math.Round(rate.Average(r => r.Rating));
        }*@
        <div class="col-lg-6">
            <div class="volunteer-card-details py-4 px-4">
                <h2 class="volunteer-card-title">
                   @Model.MissionDetails.Title
                </h2>
                <p class="card-text py-2">
                    @Model.MissionDetails.ShortDescription
                </p>

                <div class="card-body ">
                    <div class="mission-detail-border position-relative">
                        <div class="rounded-pill capsule-border capsule-transparent">
                            
                               @if (Model.MissionDetails.MissionType.Equals("Time"))
                                    {
                                        if(isOngoing)
                                        {
                                    <span>Ongoing Opportunity</span>
                                        }
                                        else{
                                    <span>From @Model.MissionDetails.StartDate.Value.ToShortDateString() until @Model.MissionDetails.EndDate.Value.ToShortDateString()</span>
                                        }
                                    }
                                    else
                                    {
                                        @foreach (var goal_mission in Model.MissionDetails.GoalMissions)
                                        {
                                            @goal_mission.GoalObjectiveText
                                        }
                                    }
                            
                        </div>
                    </div>


                    <div class="row pb-3 gutter mt-4 ">
                        <div class="col  card-detail mission-card-detail">
                            <img class="my-2" src="~/images/Seats-left.png"
                                 alt="star">
                            <div class="card-detail-text">
                                <p>@seats_left</p>
                                <span>Seats left</span>
                            </div>
                        </div>

                        @foreach (var goal_mission in Model.MissionDetails.GoalMissions)
                        {
                            <div class="col card-detail mission-card-detail">
                                <img class="icon-detail my-2" src="~/images/achieved.png" alt="achieved">
                                <div class="card-detail-text">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-label="Warning example" style="background-color: #F88634; width:@goal_mission.GoalValue%" aria - valuenow="@goal_mission.GoalValue" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <span>@goal_mission.GoalValue achieved</span>
                                </div>
                            </div>
                        }


                   
                    </div>
                    <div class="mission-detail-border"> </div>
                    <div class="d-flex flex-column flex-md-row">


                        @*<button type="submit" class="mission-detail-capsule">
                            <img src="~/images/heart1.png" />
                            Add To Favourites
                        </button>
*@
                      
                        
                            @if (Model.MissionDetails.FavouriteMissions.Any(fm => fm.UserId == Id))
                            {
                                <button class=" mission-detail-capsule " onclick="favourite()">
                                    <i class="bi bi-heart-fill favourite-button filled-heart text-danger" data-mission-id="@Model.MissionDetails.MissionId"></i>
                                    Remove from Favourites
                                  
                                </button>
                            }
                            else
                            {
                            <button class="   mission-detail-capsule " onclick="favourite()">
                                <i class="bi bi-heart empty-heart text-light favourite-button " data-mission-id="@Model.MissionDetails.MissionId"></i>
                                Add To Favourites
                            </button>
                            }

                        

                       @* @if (md.FavoriteMissions.Any(fm => fm.UserId == UserId))
                        {


                            <i class="bi bi-heart-fill text-danger @MissionId"></i>

                            <span>Add To Favourite</span>

                        }

                        else
                        {
                            <i class="bi bi-heart text-light @MissionId"></i>

                            <span>Add To Favourite</span>
                        }
                        *@

                        <button type="submit" class="mission-detail-capsule">
                            <img src="~/images/L0001.png" />
                            Recommended To a Co-Worker
                        </button>
                    </div>
                    <div class="mission-detail-border position-relative">
                        <div class="rounded-pill capsule-transparent stars">
                            <div class="rating-star m-2">
                                @for (var i = 1; i <= @missionRating; i++)
                                {
                                    <i class="bi bi-star-fill text-warning m-2" data-mission-Id="@mission_id"></i>

                                }
                                @for (var i = 5; i > @missionRating; i--)
                                {
                                    <i class="bi bi-star m-2" data-mission-Id="@mission_id"></i>
                                }

                            </div>
                        </div>
                    </div>

                    <div class="row my-5">
                        <div class="col-md-3 col-6">
                            <div class="mission-detail-box">
                                <img class="icon" src="~/images/pin1.png" />
                                <p>City<br /><span>@Model.MissionDetails.City.CityName</span></p>
                            </div>
                        </div>
                        <div class="col-md-3 col-6">
                            <div class="mission-detail-box">
                                <img class="icon" src="~/images/web.png" />
                                <p>Theme<br /><span>@Model.MissionDetails.MissionTheme.Title</span></p>
                            </div>
                        </div>
                        <div class="col-md-3 col-6">
                            <div class="mission-detail-box">
                                <img class="icon" src="~/images/calender.png" />
                                <p>Date<br /><span>
                                        @if(isOngoing)
                                        {
                                        <span>Ongoing Opportunity</span>
                                        }
                                        else{
                                        <span>From @Model.MissionDetails.StartDate.Value.ToShortDateString() until @Model.MissionDetails.EndDate.Value.ToShortDateString()</span>
                                        }

                                </span></p>
                            </div>
                        </div>
                        <div class="col-md-3 col-6">
                            <div class="mission-detail-box">
                                <img class="icon" src="~/images/organization.png" />
                                <p>Organisation<br /><span>@Model.MissionDetails.OrganizationName</span></p>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex justify-content-center">
                        <a style="width:max-content" class="btn card-btn">
                            Apply Now &nbsp; &nbsp;
                            <img src="~/images/right-arrow.png">
                            <img src="~/images/right-arrow2.png">
                        </a>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <div class="row my-5">
        <div class="col-lg-8">
            <ul class="nav nav-tabs" style="border-bottom:1px solid #E8E8E8" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-bs-toggle="tab" href="#Mission">Mission</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#Organization">Organization</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#Comments">Comments</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div id="Mission" class="container tab-pane active">
                    <br>
                    <h3>Introduction</h3>
                    <p>@Model.MissionDetails.Description</p>
                    <h3>Challenge</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <h3>Documents</h3>
                    <div class="d-flex flex-column flex-md-row">
                        <div class="mission-detail-capsule">
                            <img src="~/images/pdf.png" />
                            lorem-ipsum.pdf
                        </div>
                        <div class="mission-detail-capsule">
                            <img src="~/images/pdf.png" />
                            lorem-ipsum.pdf
                        </div>
                        <div class="mission-detail-capsule">
                            <img src="~/images/pdf.png" />
                            lorem-ipsum.pdf
                        </div>
                    </div>

                </div>
                <div id="Organization" class="container tab-pane fade">
                    <br>
                    <h3>Organization </h3>
                    <p>@Model.MissionDetails.OrganizationDetail</p>
                     </div>
                <div id="Comments" class="container tab-pane fade">
                    <br>
                    <h3>Comments</h3>
                    <form >
                        <div class="form-floating" >
                            <textarea class="form-control my-2 newComment" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                            <label for="floatingTextarea2">Enter your Comments here...</label>
                        </div>
                        <button class="btn card-btn commentButton" data-mission-Id="@mission_id">Post Comment</button>
                    </form>
                    <div class="container mt-2 bg-light overflow-scroll p-4" style="max-height:30rem">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="d-flex">
                                        <img class="rounded-circle comments-img d-none d-md-flex" src="~/images/volunteer2.png" />
                                        <div class="comments-details">
                                            <h6>Kane Willimson</h6>
                                            <p>Monday October 21,2019, 11:13 PM</p>
                                            <p>This is a helpful mission</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="d-flex">
                                        <img class="rounded-circle comments-img d-none d-md-flex" src="~/images/volunteer2.png" />
                                        <div class="comments-details">
                                            <h6>Kane Willimson</h6>
                                            <p>Monday October 21,2019, 11:13 PM</p>
                                            <p>This is a helpful mission</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="d-flex">
                                        <img class="rounded-circle comments-img d-none d-md-flex" src="~/images/volunteer2.png" />
                                        <div class="comments-details">
                                            <h6>Kane Willimson</h6>
                                            <p>Monday October 21,2019, 11:13 PM</p>
                                            <p>This is a helpful mission</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="container table-info">
                <table class="table">
                    <tr>
                        <td style="border-bottom:2px solid black;">Information</td>
                        <td></td>
                    </tr>
                    <tbody>
                        <tr>
                            <td scope="row">Skills</td>
                            <td>
                                @foreach (var skill in Model.MissionDetails.MissionSkills)
                                {
                                    <span>@skill.Skill.SkillName</span>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td scope="row">Days</td>
                            <td>@Model.MissionDetails.Availability</td>
                        </tr>
                        <tr class="table-last-row">
                            <td scope="row">Ratings</td>
                            <td>
                                @for (var i = 1; i <= avg_rating; i++)
                                {
                                    <img src="~/images/selected-star.png" />
                                }
                                @for (var i = 5; i > avg_rating; i--)
                                {
                                    <img src="~/images/star.png" />
                                }
                               @* <img src="~/images/selected-star.png" />
                                <img src="~/images/selected-star.png" />
                                <img src="~/images/selected-star.png" />
                                <img src="~/images/selected-star.png" />
                                <img src="~/images/selected-star.png" />*@
                                <span>(by @count volunteers)</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="container volunteers-images-div">
                <h5>Recent Volunteers</h5>
                <div class="volunteerd-images">
                    <div class="volunteerd-img">
                        <img src="~/images/volunteer1.png" />
                        <figcaption>Andrew Johnson</figcaption>
                    </div>
                    <div class="volunteerd-img">
                        <img src="~/images/volunteer1.png" />
                        <figcaption>Andrew Johnson</figcaption>
                    </div>
                    <div class="volunteerd-img">
                        <img src="~/images/volunteer1.png" />
                        <figcaption>Andrew Johnson</figcaption>
                    </div>
                    <div class="volunteerd-img">
                        <img src="~/images/volunteer1.png" />
                        <figcaption>Andrew Johnson</figcaption>
                    </div>
                    <div class="volunteerd-img">
                        <img src="~/images/volunteer1.png" />
                        <figcaption>Andrew Johnson</figcaption>
                    </div>
                    <div class="volunteerd-img">
                        <img src="~/images/volunteer1.png" />
                        <figcaption>Andrew Johnson</figcaption>
                    </div>
                    <div class="volunteerd-img">
                        <img src="~/images/volunteer1.png" />
                        <figcaption>Andrew Johnson</figcaption>
                    </div>
                    <div class="volunteerd-img">
                        <img src="~/images/volunteer1.png" />
                        <figcaption>Andrew Johnson</figcaption>
                    </div>
                    <div class="volunteerd-img">
                        <img src="~/images/volunteer1.png" />
                        <figcaption>Andrew Johnson</figcaption>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="border-navbar my-5"></div>
    <div class="container mt-5">
        <h2 style="color:#414141; font-weight:normal; text-align:center" >Releated Missions</h2>
        <div class="container my-5" id="grid-view">
            <div class=" row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-sm-1   g-4">
                <!-- Card starts from col -->
        <div class="col">
            <div class="card  ">
                <div class="pill-on-img">
                    <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-1.png"
                         class="card-img-top" alt="...">
                    <div class="location">
                        <img src="~/images/pin1.png">
                        Toronto
                    </div>
                    <div class="like-on-img">
                        <img style="opacity: 1;" src="~/images/heart.png">
                    </div>
                    <div class="add-on-img">
                        <img style="opacity: 1;" src="~/images/add1.png">
                    </div>
                    <div class="theme-pill rounded-pill"> Environment </div>
                </div>
                <div class="card-body">
                    <h3 class="card-title">Grow Trees On the path to environment sustainability</h3>
                    <p class="card-text align-items-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore...</p>
                    <div class="d-flex justify-content-between">
                        Tree Canada
                        <div class="stars">
                            <img src="~/images/selected-star.png">
                            <img src="~/images/selected-star.png">
                            <img src="~/images/selected-star.png">
                            <img src="~/images/star.png">
                            <img src="~/images/star.png">
                        </div>
                    </div>
                </div>

                <div class="m-3 list-group position-relative ">
                    <div class="time-pill rounded-pill "> From 10/01/2019 until 25/02/2019 </div>
                    <div class="row gutter mt-4 mb-2 justify-content-around">
                        <div class="col card-detail">
                            <img class="icon-detail my-2" src="~/images/Seats-left.png" alt="seats left">
                            <div class="card-detail-text">
                                <p>10</p>
                                <span>Seats left</span>
                            </div>
                        </div>
                        <div class="col card-detail">
                            <img class="icon-detail my-2" src="~/images/deadline.png" alt="deadline">
                            <div class="card-detail-text">
                                <p>09/01/2019 </p>
                                <span>Deadline</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class=" d-flex pb-3 justify-content-center">
                    <button type="submit" class="btn card-btn">
                        Apply
                        <img src="~/images/right-arrow.png">
                        <img src="~/images/right-arrow2.png" />
                    </button>
                </div>
            </div>
        </div>
        <!-- card 1 ends here and card 2 starts -->
        <div class="col">
            <div class="card  ">
                <div class="pill-on-img">
                    <img src="~/images/Education-Supplies-for-Every--Pair-of-Shoes-Sold-1.png"
                         class="card-img-top" alt="...">
                    <div class="location">
                        <img src="~/images/pin1.png">
                        Melbourne
                    </div>
                    <div class="like-on-img">
                        <img style="opacity: 1;" src="~/images/heart.png">
                    </div>
                    <div class="add-on-img">
                        <img style="opacity: 1;" src="~/images/add1.png">
                    </div>
                    <div class="theme-pill rounded-pill"> Children </div>
                </div>
                <div class="card-body">
                    <h3 class="card-title">Education Supplies for Every Pair of Shoes Sold</h3>
                    <p class="card-text align-items-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore...</p>
                    <div class="d-flex justify-content-between">
                        Australian Paradise
                        <div class="stars">
                            <img src="~/images/selected-star.png">
                            <img src="~/images/selected-star.png">
                            <img src="~/images/selected-star.png">
                            <img src="~/images/star.png">
                            <img src="~/images/star.png">
                        </div>
                    </div>
                </div>

                <div class="m-3 list-group position-relative ">
                    <div class="time-pill rounded-pill "> From 10/01/2019 until 25/02/2019 </div>
                    <div class="row gutter mt-4 mb-2 justify-content-around">
                        <div class="col card-detail">
                            <img class="icon-detail my-2" src="~/images/Already-volunteered.png" alt="seats left">
                            <div class="card-detail-text">
                                <p>250</p>
                                <span>Already Volunteered</span>
                            </div>
                        </div>
                        <div class="col card-detail">
                            <img class="icon-detail my-2" src="~/images/deadline.png" alt="deadline">
                            <div class="card-detail-text">
                                <p>09/01/2019 </p>
                                <span>Deadline</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class=" d-flex pb-3 justify-content-center">
                    <button type="submit" class="btn card-btn">
                        Apply
                        <img src="~/images/right-arrow.png">
                    </button>
                </div>
            </div>
        </div>
        <!-- card 2 ends here and card 3 starts -->
        <div class="col">
            <div class="card  ">
                <div class="pill-on-img">
                    <img src="~/images/Nourish-the-Children-in--African-country-1.png"
                         class="card-img-top" alt="...">
                    <div class="location">
                        <img src="~/images/pin1.png">
                        Barcelona
                    </div>
                    <div class="like-on-img">
                        <img style="opacity: 1;" src="~/images/heart.png">
                    </div>
                    <div class="add-on-img">
                        <img style="opacity: 1;" src="~/images/add1.png">
                    </div>
                    <div class="theme-pill rounded-pill"> Environment </div>
                </div>
                <div class="card-body">
                    <h3 class="card-title">Nourish the Children in African country</h3>
                    <p class="card-text align-items-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore...</p>
                    <div class="d-flex justify-content-between">
                        The Hunger
                        <div class="stars">
                            <img src="~/images/selected-star.png">
                            <img src="~/images/selected-star.png">
                            <img src="~/images/selected-star.png">
                            <img src="~/images/star.png">
                            <img src="~/images/star.png">
                        </div>
                    </div>
                </div>

                <div class="m-3 list-group position-relative ">
                    <div class="time-pill rounded-pill "> Ongoing Opportunity </div>
                    <div class="row gutter mt-4 mb-2 justify-content-around">
                        <div class="col card-detail">
                            <img class="icon-detail my-2" src="~/images/Seats-left.png" alt="seats left">
                            <div class="card-detail-text">
                                <p>10</p>
                                <span>Seats left</span>
                            </div>
                        </div>
                        <div class="col card-detail">
                            <img class="icon-detail my-2" src="~/images/deadline.png" alt="deadline">
                            <div class="card-detail-text">
                                <p>09/01/2019 </p>
                                <span>Deadline</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class=" d-flex pb-3 justify-content-center">
                    <button type="submit" class="btn card-btn">
                        Apply
                        <img src="~/images/right-arrow.png">
                    </button>
                </div>
            </div>
        </div>
        <!-- card 3 ends here and card 4 starts -->
            </div>
        </div>
    </div>

</div>




@*<script>
    var swiper = new Swiper(".mySwiper", {
        loop: true,
        spaceBetween: 10,
        slidesPerView: 4,
        freeMode: true,
        watchSlidesProgress: true,
    });
    var swiper2 = new Swiper(".mySwiper2", {
        loop: true,
        spaceBetween: 10,
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        thumbs: {
            swiper: swiper,
        },
    });
</script>*@