@using CI_Platform.Repository.Generic;
@model CI_Platform.Entities.ViewModels.MissionDetailViewModel

@{
    ViewData["Title"] = "Volunteering Mission Page";
    Layout = "_Layout";
    //var UserId = Convert.ToInt64(ViewBag.UserId);
    ////var mission_id = ViewBag.MissionId;
    var mission_id = Model.MissionDetails.MissionId;
}
@functions {
    public string GetEmbededUrl(string url)
    {
        var videoId = url.Split("v=")[1];
        return $"https://www.youtube.com/embed/{videoId}";
    }
}
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />

<div class="container py-5">
    <div class="row volunteer-card">
        <div class="col-lg-6">
            <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper mySwiper2">
                <div class="swiper-wrapper">
                    @if (!Model.MissionDetails.MissionMedia.Any(m => m.MissionId == mission_id))
                    {
                        <img src="~/images/no-image.png" alt=" " />
                    }
                    else
                    {
                        @foreach (var slider_img in Model.MissionDetails.MissionMedia.Where(m => m.MissionId == mission_id))
                        {
                            @if (slider_img.MediaType != "vid")
                            {
                                <div class="swiper-slide">
                                    <img src="~/images/Upload/Mission/@slider_img.MediaPath" />
                                </div>
                            }
                            else
                            {
                                @if (!string.IsNullOrEmpty(slider_img.MediaPath))
                                {
                                    <div class="swiper-slide">
                                        <div class="iframe-wrapper">
                                            <iframe width="500" height="300" src="@GetEmbededUrl(@slider_img.MediaPath)" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </div>
                                    </div>

                                }
                            }
                        }
                    }
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
            <div thumbsSlider="" class="swiper mySwiper">
                <div class="swiper-wrapper">
                    @foreach (var slider_img in Model.MissionDetails.MissionMedia.Where(m => m.MissionId == mission_id))
                    {
                        @if (slider_img.MediaType != "vid")
                        {
                            <div class="swiper-slide">
                                <img src="~/images/Upload/Mission/@slider_img.MediaPath" />
                            </div>
                        }
                        else
                        {
                            @if (!string.IsNullOrEmpty(slider_img.MediaPath))
                            {
                                <div class="swiper-slide">
                                    <div class="iframe-wrapper">
                                        <iframe style="width:100%; height:100%" src="@GetEmbededUrl(@slider_img.MediaPath)" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                    </div>
                                </div>

                            }
                        }

                    }
                </div>

            </div>
        </div>



        @{

            var Id = Convert.ToInt64(ViewBag.UserId);


            var count = Model.MissionDetails.MissionRatings.Count();
            double avg_rating = 0;
            if (Model.MissionDetails.MissionRatings.Count > 0)
            {
                avg_rating = Model.MissionDetails.MissionRatings.Average(r => r.Rating);
            }
            DateTime? currDate = @DateTime.Now;
            TimeSpan timeSpan = new TimeSpan(1, 0, 0, 0);

            bool isDeadlinePassed = currDate > Model.MissionDetails.Deadline;
            bool isEndDatePassed = currDate > Model.MissionDetails.EndDate;
            bool isOngoing = currDate > Model.MissionDetails.StartDate;
            bool isAlreadyApplied = Model.MissionDetails.MissionApplications.Any(a => a.UserId == Id && a.ApprovalStatus == "APPROVE");
            bool isApprovalPending = Model.MissionDetails.MissionApplications.Any(a => a.UserId == Id && a.ApprovalStatus == "PENDING");
            double userRate = 0;
            if (Model.MissionDetails.MissionRatings.Where(u => u.UserId == Id).Any())
            {
                var rate = Model.MissionDetails.MissionRatings.Where(r => r.UserId == Id).FirstOrDefault()!;
                userRate = rate.Rating;
            }
            var registered_users = Model.MissionDetails.MissionApplications.Count(m => m.ApprovalStatus.Contains("APPROVE"));
            var seats_left = Model.MissionDetails.TotalSeats - registered_users;
            int? updatedGoalValue = Model.MissionDetails.Timesheets.Where(timesheet => timesheet.MissionId == mission_id && timesheet.DeletedAt == null).Sum(timesheet => timesheet.Action);
        }



        <div class="col-lg-6">
            <div class="volunteer-card-details py-4 px-4">

                <h2 class="volunteer-card-title">

                    @Model.MissionDetails.Title
                </h2>
                <p class="card-text py-2">

                    @Model.MissionDetails.ShortDescription
                </p>

                <div class="card-body ">
                    <div class="mission-detail-border position-relative">
                        <div class="rounded-pill capsule-border capsule-transparent">

                            @if (Model.MissionDetails.MissionType.Equals("Time"))
                            {
                                if (isOngoing)
                                {
                                    <span>Ongoing Opportunity</span>
                                }
                                else
                                {

                                    <span>From @Model.MissionDetails.StartDate!.Value.ToShortDateString() until @Model.MissionDetails.EndDate!.Value.ToShortDateString()</span>
                                }
                            }
                            else
                            {
                                @foreach (var goal_mission in Model.MissionDetails.GoalMissions)
                                {
                                    @goal_mission.GoalObjectiveText
                                }
                            }

                        </div>
                    </div>


                    <div class="row pb-3 gutter mt-4 align-content-center ">
                        @if (Model.MissionDetails.MissionType.Equals("Time"))
                        {
                            <div class="col  card-detail mission-card-detail">
                                <img class="my-2" src="~/images/Seats-left.png"
                                 alt="star">
                                <div class="card-detail-text">
                                    <p>@seats_left</p>
                                    <span>Seats left</span>
                                </div>
                            </div>
                        }
                        else
                        {
                            @foreach (var goal_mission in Model.MissionDetails.GoalMissions)
                            {
                                <div class="col card-detail mission-card-detail">
                                    <img class="icon-detail my-2" src="~/images/achieved.png" alt="achieved">
                                    <div class="card-detail-text">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-label="Warning example" style="background-color: #F88634; width:@updatedGoalValue%" aria-valuenow="@updatedGoalValue" aria-valuemin="0" aria-valuemax="@goal_mission.GoalValue%"></div>
                                        </div>
                                        <span> @updatedGoalValue achieved</span>
                                    </div>
                                </div>
                            }
                        }




                    </div>
                    <div class="mission-detail-border"> </div>
                    <div class="d-flex justify-content-around flex-column flex-sm-row flex-wrap">
                        @if (Model.MissionDetails.FavouriteMissions.Any(fm => fm.UserId == Id))
                        {
                            <button class="favourite-button capsule-details"  data-mission-id="@Model.MissionDetails.MissionId">
                                <i class="bi bi-heart-fill  filled-heart text-danger"></i>
                                <span class="favText">Added To Favourites</span>
                            </button>
                        }
                        else
                        {
                            <button type="button" class=" favourite-button capsule-details"  data-mission-id="@Model.MissionDetails.MissionId">
                                <i class="bi bi-heart empty-heart text-dark "></i>
                                <span class="favText">Add To Favourites</span>
                            </button>
                        }

                        <button type="submit" class=" text-dark capsule-details" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
                            <i class="bi bi-people"></i>
                            Recommended To a Co-Worker
                        </button>

                        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Recommend to a Co-Worker</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        @foreach (var u in Model.UserList)
                                        {
                                            <div class="mt-2" style="display : flex; justify-content : space-between;">

                                                <span class="me-4 ">@u.FirstName @u.LastName</span>

                                                @if (u.MissionInviteToUsers.Any(i => i.ToUserId == u.UserId && mission_id == i.MissionId))
                                                {
                                                    <span style="margin-left : 6%;" mailto:class="invited-@u.UserId"><button class="btn btn-success model-button model-invite-btn disabled" data-mission-id="@mission_id" data-from-user-id="@Id" data-to-user-id="@u.UserId">Already Invited</button></span>

                                                }
                                                else
                                                {
                                                    <span style="margin-left : 6%;" mailto:class="invited-@u.UserId"><button class="btn btn-outline-primary model-button model-invite-btn" data-mission-id="@mission_id" data-from-user-id="@Id" data-to-user-id="@u.UserId">Invite</button></span>

                                                }

                                            </div>
                                        }
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="mission-detail-border position-relative">
                        <div class="rounded-pill capsule-transparent stars">
                            <div class="rating-star m-2">
                                @if(isAlreadyApplied)
                                {
                                    @for (var i = 1; i <= @userRate; i++)
                                    {
                                        <i class="bi  bi-star-fill text-warning m-2 rating-mission-detail" data-mission-Id="@mission_id"></i>

                                    }
                                    @for (var i = 5; i > @userRate; i--)
                                    {
                                        <i class="bi  bi-star m-2 rating-mission-detail" data-mission-Id="@mission_id"></i>
                                    }
                                }
                                else
                                {
                                    @for(var i=0; i<5; i++)
                                    {
                                        <i class="bi bi-star m-2"></i>
                                    }
                                }

                            </div>
                        </div>
                    </div>

                    <div class="row my-5">
                        <div class="col-md-3 col-6">
                            <div class="mission-detail-box">
                                <img class="icon" src="~/images/pin1.png" />
                                <p>City<br /><span>@Model.MissionDetails.City.CityName</span></p>
                            </div>
                        </div>
                        <div class="col-md-3 col-6">
                            <div class="mission-detail-box">
                                <img class="icon" src="~/images/web.png" />
                                <p>Theme<br /><span>@Model.MissionDetails.MissionTheme.Title</span></p>
                            </div>
                        </div>
                        <div class="col-md-3 col-6">
                            <div class="mission-detail-box">
                                <img class="icon" src="~/images/calender.png" />
                                <p>
                                    Date<br /><span>
                                        @if (isOngoing)
                                        {
                                            <span>Ongoing Opportunity</span>
                                        }
                                        else
                                        {
                                            @if (Model.MissionDetails.StartDate != null && Model.MissionDetails.EndDate != null)
                                            {
                                                <span>From @Model.MissionDetails.StartDate.Value.ToShortDateString() until @Model.MissionDetails.EndDate.Value.ToShortDateString()</span>
                                            }
                                        }

                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3 col-6">
                            <div class="mission-detail-box">
                                <img class="icon" src="~/images/organization.png" />
                                <p>Organisation<br /><span>@Model.MissionDetails.OrganizationName</span></p>
                            </div>
                        </div>
                    </div>
                    @if (isAlreadyApplied)
                    {
                        <div class="d-flex justify-content-center">
                            <a style="width:max-content " class="btn card-btn disabled text-success">
                                Already Applied
                            </a>
                        </div>
                    }
                    else if (isDeadlinePassed || isEndDatePassed || seats_left <= 0)
                    {
                        <div class="d-flex justify-content-center">
                            <a style="width:max-content" class="btn card-btn disabled text-danger">
                                Closed

                            </a>
                        </div>
                    }
                    else if (isApprovalPending)
                    {
                        <div class="d-flex justify-content-center">
                            <a style="width:max-content" class="btn card-btn disabled text-danger">
                                Approval Pending
                            </a>
                        </div>
                    }
                    else
                    {
                        <div class="d-flex justify-content-center">
                            <a style="width:max-content" class="btn card-btn" id="ApplyBtnMission" data-mission-id="@mission_id">
                                Apply Now &nbsp; &nbsp;
                                <img src="~/images/right-arrow.png">
                                <img src="~/images/right-arrow2.png">
                            </a>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>

    <div class="row my-5">
        <div class="col-lg-8">
            <ul class="nav nav-tabs" style="border-bottom:1px solid #E8E8E8" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-bs-toggle="tab" href="#Mission">Mission</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#Organization">Organization</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#Comments">Comments</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div id="Mission" class="container tab-pane active">
                    <br>
                    <h3>Introduction</h3>
                    <p>@Html.Raw(Model.MissionDetails.Description)</p>
                    <h3>Documents</h3>
                    <div class="d-flex flex-column flex-md-row">
                        @if (Model.MissionDetails.MissionDocuments.Any())
                        {
                            @foreach (var doc in Model.MissionDetails.MissionDocuments)
                            {
                                <div class="capsule-details">
                                    <a class="text-decoration-none" href="@Url.Action("DisplayDocument", "Home", new { fileName = @doc.DocumentPath })" target="_blank">
                                        <img src="~/images/pdf.png" />
                                        &nbsp;@doc.DocumentName
                                    </a>
                                </div>
                            }
                        }
                        else
                        {
                            <span>No Documents are uploaded for this mission</span>
                        }
                    </div>

                </div>
                <div id="Organization" class="container tab-pane fade">
                    <br>
                    <h3>Organization </h3>
                    <p>@Html.Raw(Model.MissionDetails.OrganizationDetail)</p>
                </div>
                <div id="Comments" class="container tab-pane fade">
                    <br>
                    <h3>Comments</h3>
                    <div>
                        <div class="">
                            <textarea class=" form-control my-2 newComment" placeholder="Leave a comment here..." rows="3"></textarea>
                           
                        </div>
                        <button class="btn card-btn commentButton" data-mission-Id="@mission_id">Post Comment</button>
                        <span id="CommentHelpBox" class="validate-text"></span>
                        <input type="hidden" id="MissionId" value="@mission_id"/>
                    </div>
                    <div class="commentsContainer"></div>
                   

                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="container table-info">
                <table class="table">
                    <tr>
                        <td style="border-bottom:2px solid black;">Information</td>
                        <td></td>
                    </tr>
                    <tbody>
                        <tr>
                            <td scope="row">Skills</td>
                            <td>

                                @if (Model.MissionDetails.MissionSkills.Any())
                                {
                                    @foreach (var skill in Model.MissionDetails.MissionSkills)
                                    {
                                        <span>@skill.Skill.SkillName  <br>  </span>
                                    }
                                }
                                else
                                {
                                    <span>No Skills required</span>
                                }




                            </td>
                        </tr>
                        <tr>
                            <td scope="row">Days</td>
                            <td>@Model.MissionDetails.Availability</td>
                        </tr>
                        <tr class="table-last-row">
                            <td scope="row">Ratings</td>
                            <td id="UpdatedRatings">
                                @for (var i = 1; i <= avg_rating; i++)
                                {
                                    <img src="~/images/selected-star.png" />
                                }
                                @for (var i = 5; i > avg_rating; i--)
                                {
                                    <img src="~/images/star.png" />
                                }

                                <span id="total-ratings">(by @count volunteers)</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            @*   <span id="MissionId"> @mission_id</span>*@
            <input type="hidden" value="@Model.totalVolunteers" id="totalVolunteers" />
            <input type="hidden" value=@mission_id id="MissionId" />
            <div class="container volunteers-images-div ">
                <h5>Recent Volunteers</h5>
                <hr />
                <div class="volunteerd-images"></div>
            </div>
            <div class="container p-1 d-flex justify-content-between volunteerBtn border">
                <a class=" flex-start border-end prevVolunteersBtn">
                    <img class="pe-2" src="~/images/left.png" />
                </a>
                @if (Model.totalVolunteers == 0)
                {
                    <span>0 of 0 Recent Volunteers</span>
                }
                else
                {
                    <span class="pagination-vol-info"></span>
                }


                <a class=" border-start flex-end ">
                    <img class="ps-2" src="~/images/right-arrow1.png" />
                </a>
            </div>
        </div>

    </div>
    <div class="border-navbar my-5"></div>
    <div class="container mt-5">
        <h2 style="color:#414141; font-weight:normal; text-align:center">Releated Missions</h2>
        <div class="container my-5" id="grid-view">
          
                @if (Model.RelatedMissions.Count != 0)
                {
                <div class=" row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-sm-1   g-4">

                    @foreach (var obj in Model.RelatedMissions)
                    {


                        <div class="col card-div ">
                            <div class="card grid-card  h-100 shadow">
                                <span class="d-none"> @obj.MissionCard.MissionId </span>
                                <span class="created-date d-none ">@obj.MissionCard.CreatedAt </span>


                                <span class="mission-country d-none">@obj.MissionCard.CountryId</span>
                                <span> </span>
                                <div class="pill-on-img">


                                    @if (obj.missionMedia.Count() == 0)
                                    {
                                        <img src="~/images/no-image.png" class="  card-img-top" />
                                    }
                                    else
                                    {

                                        @foreach (var img in obj.missionMedia)
                                        {
                                            <img src="~/images/Upload/Mission/@img" class=" card-img-top">
                                        }
                                    }



                                    @if (obj.Applied)
                                    {
                                        <div class="applied-pill" style="background:green 0% 0% no-repeat;">
                                            <span>APPLIED</span>
                                        </div>
                                    }
                                    @if (obj.HasEndDatePassed)
                                    {
                                        <div class="applied-pill" style="background:red 0% 0% no-repeat;">
                                            <span>CLOSED</span>
                                        </div>
                                    }
                                    @if (obj.MissionCard.MissionType == "Time")
                                    {
                                        @if (obj.HasDeadlinePassed || obj.seatsLeft <= 0)
                                        {
                                            <div class="applied-pill" style="background:red 0% 0% no-repeat;">
                                                <span>CLOSED</span>
                                            </div>
                                        }
                                    }
                                    @if (obj.IsApplicationPending)
                                    {
                                        <div class="applied-pill" style="background:orange 0% 0% no-repeat;">
                                            <span>Approval Pending</span>
                                        </div>
                                    }

                                    <div class="location">
                                        <img src="~/images/pin1.png">
                                        <span class="mission-city">@obj.CityName</span>
                                    </div>

                                    @if (obj.favMission)
                                    {
                                        <button class="  like-on-img favourite-button" data-mission-id="@obj.MissionCard.MissionId">
                                            <i class="bi bi-heart-fill  filled-heart text-danger"></i>

                                        </button>

                                    }

                                    else
                                    {
                                        <button class="favourite-button  like-on-img " data-mission-id="@obj.MissionCard.MissionId">
                                            <i class="bi bi-heart empty-heart text-light  "></i>
                                        </button>
                                    }
                                    @*recommended to co worker*@
                                    <button class="add-on-img" type="submit" @* data-user-id="@Id" data-mission-id="@obj.MissionCard.MissionId"*@ data-bs-toggle="modal" data-bs-target="#GridViewCoworkerInviteModal">
                                        <img style="opacity: 1;" src="~/images/add1.png">
                                    </button>

                                    <div class="modal fade" id="GridViewCoworkerInviteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLongTitle">Recommend to a Co-Worker</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="grid-modal-body p-2">
                                                    @* .Where(u => u.UserId != UserId && !u.MissionApplications.Any(ma => ma.MissionId == mission.MissionId && ma.ApprovalStatus == "APPROVE")*@
                                                    @foreach (var coworker in obj.CoWorkersList)
                                                    {
                                                        <div class="mt-2" style="display : flex; justify-content : space-between;">

                                                            <span class="me-4 ">@coworker.FirstName @coworker.LastName</span>

                                                            @* @if(coworker.MissionInviteToUsers.Any(i => i.ToUserId == coworker.UserId && obj.MissionCard.MissionId == i.MissionId))
                                                {
                                                <span style="margin-left : 6%;" mailto:class="invited-@coworker.UserId"><button class="btn btn-success model-button model-invite-btn disabled" data-mission-id="@obj.MissionCard.MissionId" data-from-user-id="@Id" data-to-user-id="@coworker.UserId">Already Invited</button></span>
                                                }
                                                else
                                                {*@
                                                            <span style="margin-left : 6%;" mailto:class="invited-@coworker.UserId"><button class="btn btn-outline-primary model-button model-invite-btn" data-mission-id="@obj.MissionCard.MissionId" data-from-user-id="@Id" data-to-user-id="@coworker.UserId">Invite</button></span>

                                                            @*  }*@

                                                        </div>
                                                    }

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                                                </div>
                                            </div>
                                        </div>
                                    </div>




                                    <div class="theme-pill rounded-pill "> <span class="mission-theme">@obj.ThemeTitle</span>  </div>
                                </div>
                                <div class="card-body">
                                    <h3 class="card-title ">@obj.MissionCard.Title</h3>
                                    <p class="card-text align-items-center">
                                        @{
                                            int maxLength = 50;
                                            string description = obj.MissionCard.ShortDescription!.Length > maxLength
                                            ? @obj.MissionCard.ShortDescription!.Substring(0, maxLength) + "..."
                                            : @obj.MissionCard.ShortDescription!;

                                        }

                                        @description
                                    </p>
                                    <div class="d-flex justify-content-between">
                                        @obj.MissionCard.OrganizationName
                                        <div class="stars">
                                            @if (obj.avgRating != null)
                                            {
                                                @for (int i = 1; i <= obj.avgRating; i++)
                                                {
                                                    <img src="~/images/selected-star.png" />
                                                }
                                                @for (int i = 5; i > obj.avgRating; i--)
                                                {
                                                    <img src="~/images/star.png" />
                                                }
                                            }
                                            else
                                            {
                                                @for (int i = 1; i <= 5; i++)
                                                {
                                                    <img src="~/images/star.png" />
                                                }
                                            }

                                        </div>

                                    </div>
                                </div>


                                @if (obj.Applied)
                                {
                                    <div class=" d-flex pb-3 justify-content-center">
                                        <a class="btn btn card-btn" href="@Url.Action("MissionDetail", "Home" , new { MissionId = @obj.MissionCard.MissionId})">
                                            View Details &nbsp;&nbsp;<img src="~/images/right-arrow.png" />
                                            <img src="~/images/right-arrow2.png" />
                                        </a>
                                    </div>
                                }
                                else
                                {
                                    <div class="m-3 list-group position-relative ">
                                        <div class="time-pill rounded-pill ">
                                            @if (obj.MissionCard.MissionType.Equals("Time"))
                                            {
                                                if (obj.IsOngoing)
                                                {
                                                    <span>Ongoing Opportunity</span>
                                                }
                                                else
                                                {
                                                    <span>From @obj.MissionCard.StartDate!.Value.ToShortDateString() until @obj.MissionCard.EndDate!.Value.ToShortDateString()</span>
                                                }
                                            }
                                            else
                                            {
                                                @foreach (var goal_mission in obj.goalMission)
                                                {
                                                    @goal_mission.GoalObjectiveText
                                                }
                                            }
                                        </div>
                                        <div class="row gutter mt-4 mb-2 justify-content-around">
                                            @if (obj.MissionCard.MissionType.Equals("Time"))
                                            {
                                                <div class="col card-detail">
                                                    <img class="icon-detail my-2" src="~/images/Seats-left.png" alt="seats left">
                                                    <div class="card-detail-text">

                                                        <p class="seat-left">  @obj.seatsLeft </p>
                                                        <span>Seats left</span>
                                                    </div>
                                                </div>
                                                <div class="col card-detail">
                                                    <img class="icon-detail my-2" src="~/images/deadline.png" alt="deadline">
                                                    <div class="card-detail-text ">
                                                        <p class="deadline">@obj.MissionCard.StartDate!.Value.AddDays(-1).ToShortDateString()</p>
                                                        <span>Deadline</span>
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                @foreach (var goal_mission in obj.goalMission)
                                                {
                                                    <div class="col card-detail">
                                                        <img class="icon-detail my-2" src="~/images/achieved.png" alt="deadline">
                                                        <div class="card-detail-text">
                                                            <div class="progress">
                                                                <div class="progress-bar" role="progressbar" aria-label="Warning example" style="background-color: #F88634; width:@obj.updatedGoalValue%" aria-valuenow="@obj.updatedGoalValue" aria-valuemin="0" aria-valuemax="@goal_mission.GoalValue%"></div>
                                                            </div>
                                                            <span>@obj.updatedGoalValue achieved</span>
                                                        </div>
                                                    </div>
                                                }

                                            }
                                        </div>
                                    </div>

                                    @if (obj.HasEndDatePassed || obj.seatsLeft <= 0 || obj.HasDeadlinePassed || obj.IsApplicationPending)
                                    {
                                        <div class=" d-flex pb-3 justify-content-center">
                                            <a class="btn card-btn" href="@Url.Action("MissionDetail", "Home" , new { MissionId = @obj.MissionCard.MissionId})">
                                                View Details  &nbsp;&nbsp;&nbsp;
                                                <img src="~/images/right-arrow.png">
                                                <img src="~/images/right-arrow2.png" />
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class=" d-flex pb-3 justify-content-center">
                                            <a class="btn card-btn" href="@Url.Action("MissionDetail", "Home" , new { MissionId = @obj.MissionCard.MissionId})">
                                                Apply  &nbsp;&nbsp;&nbsp;
                                                <img src="~/images/right-arrow.png">
                                                <img src="~/images/right-arrow2.png" />
                                            </a>
                                        </div>
                                    }

                                }

                            </div>
                        </div>
                    }
                    </div>
                }
                else
                {
                    <h3 class="text-center">No Releated Missions Found</h3>
                }
            
        </div>
    </div>

</div>




<script>
    var swiper = new Swiper(".mySwiper", {
        loop: true,
        spaceBetween: 10,
        slidesPerView: 3,
        freeMode: true,
        watchSlidesProgress: true,
    });
    var swiper2 = new Swiper(".mySwiper2", {
        loop: true,
        spaceBetween: 10,
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        thumbs: {
            swiper: swiper,
        },
    });
</script>