@{
    Layout = "_Layout";
    ViewData["Title"] = "User Profile";
   
}
@model CI_Platform.Entities.ViewModels.UserProfileViewModel
<div class="container py-5">
    <div class="row">
        <div class="col-lg-2 ">
            <div class="user-profile-section">
                <div class="image-edit">
                    @if (Model.Avatar != null)
                    {
                        <img src="~/images/Upload/User/@Model.Avatar" class="img-thumbnail mx-auto d-block my-2 " alt="...">
                    }
                    else
                    {
                        <img src="~/images/profile-user.png" class="img-thumbnail mx-auto d-block my-2 " alt="...">
                    }
                    <div class="edit-icon"><i class="bi bi-pencil-fill"></i></div>
                </div>
                <h5 class="text-center">
                    @Model.FirstName @Model.Surname
                </h5>
                <div class=" text-center">
                    <a href="" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#ChangePasswordModal">Change Password</a>
                    <!-- Modal -->
                    <div class="modal fade" id="ChangePasswordModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Change Password</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div>
                                        <div class="mb-3">
                                            <div class="position-relative">
                                                <input type="password" class="form-control" id="OldPassword" placeholder="Enter Old Password">
                                                <i class="bi bi-eye-fill position-absolute translate-middle-x end-0 top-0 d-none"></i>
                                                <i class="bi bi-eye-slash position-absolute translate-middle-x end-0 top-0 "></i>
                                            </div>
                                            <small class="text-danger validate-text" id="validateOldPass"> </small>
                                        </div>
                                        <div class="mb-3">
                                            <div class="position-relative">
                                                <input type="password" class="form-control" id="NewPassword" placeholder="Enter New Password">
                                                <i class="bi bi-eye-fill position-absolute translate-middle-x end-0 top-0 d-none"></i>
                                                <i class="bi bi-eye-slash position-absolute translate-middle-x end-0 top-0 "></i>
                                            </div>
                                            <small class="text-danger validate-text" id="validateNewPass"> </small>
                                        </div>
                                        <div class="mb-3">
                                            <div class="position-relative">
                                                <input type="password" class="form-control" id="ConfirmPassword" placeholder="Enter Confirm Password">
                                                <i class="bi bi-eye-fill position-absolute translate-middle-x end-0 top-0 d-none"></i>
                                                <i class="bi bi-eye-slash position-absolute translate-middle-x end-0 top-0 "></i>
                                            </div>
                                            <small class="text-danger validate-text" id="validateConfirmPass"> </small>
                                        </div>
                                        @*<button type="submit" class="btn btn-primary">Submit</button>*@
                                        <div class="d-flex justify-content-end">
                                            <button type="button" class="btn btn-outline-secondary rounded-pill" data-bs-dismiss="modal">Cancel</button>
                                            <button type="button" class="btn card-btn ms-2" id="ChangePasswordBtn">Change Password</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-10 px-2 ps-4 my-4 my-xl-0">
            <form method="post" enctype="multipart/form-data">
                <input type="file" asp-for="UpdatedAvatar" class="d-none" id="profile-image-input" />
                <input  asp-for="UserId" value="@ViewBag.userId" class="d-none"/>
                @*basic information*@
                <div class="my-4 my-xl-0 row g-3">
                    <h2 class="pb-1 border-bottom"><span class="form-underline pb-1"> Basic Information</span></h2>
                    <div class="col-md-6">
                        <label class="form-label">Name</label>
                        <input asp-for="FirstName" name="FirstName" type="text" placeholder="Enter your name" class="form-control" id="Name">
                        <span asp-validation-for="FirstName" class="text-danger validate-text"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Surname" class="form-label">Surname</label>
                        <input asp-for="Surname" name="Surname" type="text" placeholder="Enter your Surname" class="form-control" id="Surname">
                        <span asp-validation-for="Surname" class="text-danger validate-text"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="EmployeeId" for="EmployeeId" class="form-label">Employee Id</label>
                        <input asp-for="EmployeeId" name="EmployeeId" type="text" placeholder="Enter your Employee Id" class="form-control" id="EmployeeId">
                        <span asp-validation-for="EmployeeId" class="text-danger validate-text"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Manager" class="form-label">Manager</label>
                        <input asp-for="Manager" name="Manager" type="text" placeholder="Enter your Manager details" class="form-control" id="Manager">
                        <span asp-validation-for="Manager" class="text-danger validate-text"></span>

                    </div>
                    <div class="col-md-6">
                        <label asp-for="Title" class="form-label">Title</label>
                        <input asp-for="Title" name="Title" type="text" placeholder="Enter the Title" class="form-control" id="Title">
                        <span asp-validation-for="Title" class="text-danger validate-text"></span>

                    </div>
                    <div class="col-md-6">
                        <label asp-for="Department" class="form-label">Department</label>
                        <input asp-for="Department" name="Department" type="text" placeholder="Enter your Department details" class="form-control" id="Department">
                        <span asp-validation-for="Department" class="text-danger validate-text"></span>

                    </div>
                    <div class="mb-3 col-12">
                        <label asp-for="ProfileText" class="form-label">My  Profile</label>
                        <textarea asp-for="ProfileText" class="form-control" id="Profile" rows="4" placeholder="Enter something about yourself"></textarea>
                    </div>
                    <div class="mb-3 col-12">
                        <label asp-for="WhyIVolunteer" class="form-label">Why I Volunteer</label>
                        <textarea asp-for="WhyIVolunteer" class="form-control" id="WhyIVolunteer" rows="4" placeholder="Enter your comments"></textarea>
                    </div>
                </div>
                @*address information*@
                <div class="my-5 row g-3">
                    <h2 class="pb-1 border-bottom"><span class="form-underline pb-1"> Address Information</span></h2>
                    <div class="col-md-6">
                        <label for="Country" class="form-label ms-1">Country</label>
                        <select asp-for="CountryId" class="form-select" id="UserCountrySelect" aria-label="Enter your Country">
                            <option selected>Enter your Country</option>
                            @foreach (var country in Model.Countries)
                            {
                                <option value="@country.CountryId">@country.Name</option>
                            }
                        </select>
                        <span asp-validation-for="Countries" class="text-danger validate-text"></span>
                    </div>
                    <div class="col-md-6">
                        <label for="City" class="form-label ms-1">City</label>
                        <select asp-for="CityId" class="form-select" id="UserCitySelect" aria-label="Enter your City">

                            @{
                                var city = Model.Cities.Where(c => c.CountryId == Model.CountryId);
                            }
                            @foreach (var c in city)
                            {
                                <option value="@c.CityId">@c.CityName</option>
                            }

                        </select>
                        <span asp-validation-for="Cities" class="text-danger validate-text"></span>

                    </div>
                </div>

                @*Professional information*@
                <div class="mb-5 row g-3">
                    <h2 class="pb-1 border-bottom"><span class="form-underline pb-1"> Professional Information</span></h2>
                    <div class="col-md-6">
                        <label asp-for="Availibility" class="form-label ms-1">Avaliability</label>
                        <select asp-for="Availibility" class="form-select" id="AvaliabilitySelect" name="Availibility" aria-label="Select your Avaliability">
                            
                            <option value="daily">daily</option>
                            <option value="weekly">weekly</option>
                            <option value="weekend">weekend</option>
                            <option value="monthly">monthly</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="LinkedInUrl" class="form-label">LinkedInUrl</label>
                        <input asp-for="LinkedInUrl" name="LinkedInUrl" type="url" placeholder="Enter LinkedIn Url" class="form-control" id="LinkedInUrl">
                        <span asp-validation-for="LinkedInUrl" class="text-danger validate-text"></span>
                    </div>
                </div>

                @*     skills add*@
                <div class="mb-2 row g-3">
                    <h2 class="pb-1 border-bottom"><span class="form-underline pb-1"> My Skills</span></h2>
                    <div class="user-skills-container">
                        
                    </div>
                    <div class="col-12">
                        <button type="button" data-bs-toggle="modal" data-bs-target="#AddSkillsModal" class="btn btn-outline-secondary rounded-pill" data>Add Skills</button>
                    </div>


                    <input type="hidden" asp-for="UpdatedUserSkills" id="UpdatedUserSkills" />
                    <!-- Modal -->
                    <div class="modal fade" id="AddSkillsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add Your Skills</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="row ">
                                        <div class="col-6 position-relative">
                                            <div class="skills-list">
                                                @foreach (var skills in Model.Skills)
                                                {
                                                    if (Model.UserSkills.Select(us => us.SkillId).Contains(skills.SkillId))
                                                    {

                                                        <label class="all-skills-label highlight">@skills.SkillName</label>
                                                    }
                                                    else
                                                    {
                                                        <label class="all-skills-label">@skills.SkillName</label>
                                                    }
                                                }
                                            </div>
                                            <a class="position-absolute start-100 translate-middle" id="addSkillsToRight" style="top:45%;cursor:pointer">
                                                <img src="~/images/right-arrow1.png" />
                                            </a>
                                            <a class="position-absolute start-100 translate-middle top-50" id="RemoveSkillsFromRight" style="cursor:pointer">
                                                <img src="~/images/left.png" />
                                            </a>
                                        </div>
                                        <div class="col-6">
                                            <div class="selected-skills-list">
                                                @if(Model.UserSkills.Any())
                                                {
                                                    @foreach (var skills in Model.Skills)
                                                    {
                                                        if (Model.UserSkills.Select(us => us.SkillId).Contains(skills.SkillId))
                                                        {
                                                            <label class="all-skills-label">@skills.SkillName</label>
                                                        }
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal-footer justify-content-start">
                                    <button type="button" class="btn btn-outline-secondary rounded-pill" data-bs-dismiss="modal">Cancel</button>
                                    <button type="button" class="btn card-btn" id="SaveSkillBtn" data-bs-dismiss="modal">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-end">
                    <button type="submit" asp-controller="User" asp-action="EditUserProfile" class="btn card-btn w-auto">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}