@using CI_Platform.Repository.Generic;
@{
    ViewData["Title"] = "Mission Application ";
    Layout = "_AdminLayout";
}
@model CI_Platform.Entities.ViewModels.AdminApprovalViewModel
<div class="container-fluid my-5 mx-2">
    <h3 class="pb-1 border-bottom"><span class="heading-underline pb-1"> Mission Application </span></h3>

    @*    add button partial view call*@

    <div class="table-responsive m-3">
        <div class="d-flex my-4">
            <div class="admin-search-box d-flex align-items-center border">
                <img class="icon" src="~/images/search.png" alt="search-icon" />
                <input id="searchUser" class="ms-sm-3" type="text" placeholder="Search" />
            </div>

           
        </div>

        <table id="example" cellspacing="0" class="display table table-bordered align-middle" style="width:100%">


            <thead class="gap-2">
                <tr class="bg-light align-middle">
                    <th style="width: max-content;">Mission Title </th>
                    <th>Mission Id</th>
                    <th>User Id</th>
                    <th>User Name </th>
                    <th>Applied Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var mal in Model.MissionApplicationList)
                {
                    <tr class="align-middle">
                      <td>@mal.Mission.Title</td>
                        <td>@mal.MissionId</td>
                        <td>@mal.UserId</td>
                        <td>@mal.User.FirstName  @mal.User.LastName</td>
                        <td>@mal.AppliedAt</td>

                        <td  class="showApplicationButtons-@mal.MissionApplicationId">
                            @if (mal.ApprovalStatus == GenericEnum.ApplicationStatus.APPROVE.ToString())
                            {
                                <button class="p-0 btn fa-xl disabled border-0" id="ApprovalBtn" data-bs-toggle="modal" data-bs-target="#ApproveOrDeclineModal" data-application-id="@mal.MissionApplicationId" data-status="1">
                                    <i class="fa-circle-check fa-solid" style="color: #00ff00;"></i>
                                </button>

                                <button class="btn p-0 ApproveOrDeclineApplication fa-xl" id="DeclineBtn" data-bs-target="#ApproveOrDeclineModal" data-bs-toggle="modal" data-application-id="@mal.MissionApplicationId" data-status="0">
                                    <i class="fa-circle-xmark fa-regular" style="color: #ff0000;"></i>
                                </button>
                            }
                            else if (mal.ApprovalStatus == GenericEnum.ApplicationStatus.DECLINE.ToString())
                            {
                                <button class="p-0 btn ApproveOrDeclineApplication fa-xl " id="ApprovalBtn" data-bs-toggle="modal" data-bs-target="#ApproveOrDeclineModal" data-application-id="@mal.MissionApplicationId" data-status="1">
                                    <i class="fa-circle-check fa-regular" style="color: #00ff00;"></i>
                                </button>

                                <button class="btn p-0 fa-xl disabled  border-0" id="DeclineBtn" data-bs-target="#ApproveOrDeclineModal" data-bs-toggle="modal" data-application-id="@mal.MissionApplicationId" data-status="0">
                                    <i class="fa-circle-xmark fa-solid" style="color: #ff0000;"></i>
                                </button>
                            }
                            else
                            {
                                <button class="p-0 btn ApproveOrDeclineApplication fa-xl " id="ApprovalBtn" data-bs-toggle="modal" data-bs-target="#ApproveOrDeclineModal" data-application-id="@mal.MissionApplicationId" data-status="1">
                                    <i class="fa-circle-check fa-regular" style="color: #00ff00;"></i>
                                </button>

                                <button class="btn p-0 ApproveOrDeclineApplication fa-xl" id="DeclineBtn" data-bs-target="#ApproveOrDeclineModal" data-bs-toggle="modal" data-application-id="@mal.MissionApplicationId" data-status="0">
                                    <i class="fa-circle-xmark fa-regular" style="color: #ff0000;"></i>
                                </button>
                            }
                          
                        </td>
                    </tr>
                }
        </table>
        <div class="modal fade" id="ApproveOrDeclineModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <form >
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                         
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        
                        <div class="modal-body" id="ApplicationModalBody">
                            <div></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="me-3 btn rounded-pill btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="button" id="ApplicationApproveOrDeclineBtn" class="btn rounded-pill btn-outline-success">Yes</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

