@{
    Layout = "";
}

@using CI_Platform.Repository.Generic;
@model CI_Platform.Entities.ViewModels.NotificationViewModel

<div id="UserNotificationList">

    <div class="d-flex justify-content-between">
        <span style="cursor:pointer" id="NotificationSettings"><i class="bi bi-gear-fill"></i></span>
        <h5>NOTIFICATIONS</h5>
        <span style="cursor:pointer" id="ClearAllNotification">Clear All</span>
    </div>

    @if (Model.userNotifications!.Any())
    {
        <ul style="list-style-type:none" class="p-0">
            @foreach (var notification in Model.userNotifications!)
            {
                <li class="NotificationList" id="@notification.NotificationId">
                    @if (notification.RecommendedMissionId != 0)
                    {
                        <a class="text-decoration-none d-flex" href="@Url.Action("MissionDetail","Home", new{MissionId = notification.RecommendedMissionId })">
                            <img src="~/images/Upload/User/@notification.FromUserAvtar" class="rounded-circle icon me-2" />
                            <span>@notification.FromUserName - Recommends Mission - @notification.RecommendedMissionTitle</span>
                            @if (notification.Status == false)
                            {
                                <i class="bi bi-circle-fill" style="color:#F88634;"></i>
                            }
                            else
                            {
                                <i class="bi bi-check-circle-fill" style="color:grey;"></i>
                            }
                        </a>
                        <hr />

                    }
                    else if (notification.RecommendedStoryId != 0)
                    {
                        <a class="text-decoration-none d-flex" href="@Url.Action("StoryDetails","Story", new {MissionId = notification.StoryMissionId, UserId = notification.StoryUserId} )">
                            <img src="~/images/Upload/User/@notification.FromUserAvtar" class="rounded-circle icon me-2" />
                            <span>@notification.FromUserName - Recommends Story - @notification.RecommendedStoryTitle</span>
                            @if (notification.Status == false)
                            {
                                <i class="bi bi-circle-fill" style="color:#F88634;"></i>
                            }
                            else
                            {
                                <i class="bi bi-check-circle-fill" style="color:grey;"></i>
                            }
                        </a>
                        <hr />
                    }
                    else if (notification.NewMissionId != 0)
                    {
                        <a class="text-decoration-none d-flex" href="@Url.Action("MissionDetail","Home", new{MissionId = notification.NewMissionId })">
                            <span><i class="bi bi-plus-circle"></i></span>
                            <span> New Mission Added -  @notification.NewMissionTitle</span>
                            <span>
                                @if (notification.Status == false)
                                {
                                    <i class="bi bi-circle-fill" style="color:#F88634;"></i>
                                }
                                else
                                {
                                    <i class="bi bi-check-circle-fill" style="color:grey;"></i>
                                }
                            </span>
                        </a>
                        <hr />
                    }
                    else if (notification.CommentId != 0)
                    {
                        <a class="text-decoration-none d-flex">
                            <span class="me-1"><i class="fa-sharp fa-solid fa-circle-xmark fa-lg"></i></span>
                            <span> Your comment has been declined for this mission - @notification.CommentMissionTitle</span>
                            <span class="notification-status-change-@notification.NotificationId">
                                @if (notification.Status == false)
                                {
                                    <i class="bi bi-circle-fill" style="color:#F88634;"></i>
                                }
                                else
                                {
                                    <i class="bi bi-check-circle-fill" style="color:grey;"></i>
                                }
                            </span>
                        </a>
                        <hr />
                    }
                    else if (notification.TimesheetId != 0)
                    {
                        <a class="text-decoration-none d-flex">
                            @if (notification.TimesheetStatus == GenericEnum.TimesheetStatus.APPROVED.ToString())
                            {
                                <span class="me-1"><i class="bi bi-check2-square"></i></span>
                                <span> Your timesheet for date  @notification.TimesheetDate.Value.ToShortDateString() has been approved for this mission - @notification.TimesheetMissionTitle</span>
                            }
                            else if (notification.TimesheetStatus == GenericEnum.TimesheetStatus.DECLINED.ToString())
                            {
                                <span class="me-1"><i class="fa-sharp fa-solid fa-circle-xmark fa-lg"></i></span>
                                <span> Your timesheet for date @notification.TimesheetDate.Value.ToShortDateString() has been approved for this mission - @notification.TimesheetMissionTitle</span>

                            }
                            <span class="notification-status-change-@notification.NotificationId">
                                @if (notification.Status == false)
                                {
                                    <i class="bi bi-circle-fill" style="color:#F88634;"></i>
                                }
                                else
                                {
                                    <i class="bi bi-check-circle-fill" style="color:grey;"></i>
                                }
                            </span>
                        </a>
                        <hr />
                    }
                    else if (notification.StoryId != 0)
                    {
                        <a class="text-decoration-none d-flex">
                            @if (notification.StoryStatus == GenericEnum.StoryStatus.PUBLISHED.ToString())
                            {
                                <span class="me-1"><i class="bi bi-check2-square"></i></span>
                                <span> Your Story has been published  - @notification.StoryTitle</span>
                            }
                            else if (notification.StoryStatus == GenericEnum.StoryStatus.DECLINED.ToString())
                            {
                                <span class="me-1"><i class="fa-sharp fa-solid fa-circle-xmark fa-lg"></i></span>
                                <span> Your Story has been declined  - @notification.StoryTitle</span>
                            }
                            <span class="notification-status-change-@notification.NotificationId">
                                @if (notification.Status == false)
                                {
                                    <i class="bi bi-circle-fill" style="color:#F88634;"></i>
                                }
                                else
                                {
                                    <i class="bi bi-check-circle-fill" style="color:grey;"></i>
                                }
                            </span>
                        </a>
                        <hr />
                    }
                    else if (notification.MissionApplicationId != 0)
                    {
                        <a class="text-decoration-none d-flex">
                            @if (notification.MissionApplicationStatus == GenericEnum.ApplicationStatus.APPROVE.ToString())
                            {
                                <span class="me-1"><i class="bi bi-check2-square"></i></span>
                                <span> Volunteering Request has been approved for this mission  - @notification.MissionApplicationTitle</span>
                            }
                            else if (notification.MissionApplicationStatus == GenericEnum.ApplicationStatus.DECLINE.ToString())
                            {
                                <span class="me-1"><i class="fa-sharp fa-solid fa-circle-xmark fa-lg"></i></span>
                                <span> Volunteering Request has been declined for this mission - @notification.MissionApplicationTitle</span>
                            }
                            <span class="notification-status-change-@notification.NotificationId">
                                @if (notification.Status == false)
                                {
                                    <i class="bi bi-circle-fill" style="color:#F88634;"></i>
                                }
                                else
                                {
                                    <i class="bi bi-check-circle-fill" style="color:grey;"></i>
                                }
                            </span>
                        </a>
                        <hr />
                    }
                </li>

            }
        </ul>
    }

    else
    {
        <li class="d-block">
            <img class="mx-auto d-block" src="~/images/bell-big.png" />
            <span class="m-4 mt-4 fw-bold">You do not have any new Notifications</span>
        </li>
    }
</div>

<div id="UserNotificationSettingList" style="display:none">
    <h4 class="text-center">NOTIFICATION SETTINGS</h4>
    <h5 class="bg-light">Get a Notification for</h5>

    @foreach (var setting in Model.UserNotificationSetting)
    {
        <div class="form-check">
            <input class="form-check-input setting-checkbox" type="checkbox" value="@setting.SettingId" id="SettingCheckBox-@setting.SettingId" @if(setting.IsEnabled){
        <text>checked</text>
} />
            <label class="form-check-label" for="SettingCheckBox-@setting.SettingId">
                @setting.Setting.SettingName
            </label>
        </div>
    }
    <hr />
    <div class="d-flex flex-wrap justify-content-center m-3">
        <button type="button" class="btn rounded-pill card-btn me-2" id="SaveNotificationSetting">Save</button>
        <a class="btn btn-outline-secondary me-3 rounded-pill" id="CancelBtnNotification">Cancel</a>
    </div>

</div>