@model CI_Platform.Entities.ViewModels.StoryDetailsViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Story Details";
    //var Id = Convert.ToInt64(ViewBag.UserId);
    var story_id = Model.GetStoryDetails.StoryId;
}

@*
{"namespace":"localhost","key":"dc68eacd-0fb8-484b-92b3-ce7bd790b5a7","value":0}*@

<script async src="https://api.countapi.xyz/hit/localhost/dc68eacd-0fb8-484b-92b3-ce7bd790b5a7?callback=websiteVisits"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />

<div class="container py-5">
    <div class="row">
        <div class="col-lg-6">

            @*swiper starts from here *@

            <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper mySwiper2">
                <div class="swiper-wrapper">
                    @if (Model.GetStoryDetails.StoryMedia.Any(s => s.StoryId != story_id))
                    {
                        <img src="~/images/no-image.png" alt=" " />
                    }
                    else
                    {
                        @foreach (var slider_img in Model.GetStoryDetails.StoryMedia.Where(s => s.StoryId == story_id && s.Type != "videos"))
                        {
                            <div class="swiper-slide">
                                <img src=@slider_img.Path />
                            </div>
                        }
                    }
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
            <div thumbsSlider="" class="swiper mySwiper">
                <div class="swiper-wrapper">
                    @foreach (var slider_img in Model.GetStoryDetails.StoryMedia.Where(m => m.StoryId == story_id))
                    {
                        <div class="swiper-slide">
                            <img src=@slider_img.Path />
                        </div>
                    }
                </div>

            </div>


        </div>

        <div class="col-lg-6 ">
            <div class="d-flex justify-content-between p-4">
                <div>
                    <img class="rounded-circle " src=@Model.GetStoryDetails.User.Avtar alt="user_icon" />
                    <div class="ms-3"> @Model.GetStoryDetails.User.FirstName  @Model.GetStoryDetails.User.LastName</div>
                    <div class="ms-2"> @Model.GetStoryDetails.User.City.CityName,  @Model.GetStoryDetails.User.Country.Name  </div>
                </div>
                <div class="align-self-end my-4">
                    <span class="views-capsule">
                        <img src="~/images/eye.png" />
                        @if(Model.GetStoryDetails.StoryId==story_id)
                        {
                             <span id="visits"></span>  
                        }
                        Views
                    </span>
                </div>
            </div>
            <div class="px-4">
                @Model.GetStoryDetails.User.WhyIVolunteer
            </div>

            <div>
                <div>
                    <div class="d-flex flex-column flex-md-row">
                        <button type="submit" class="capsule-details text-dark" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
                            <i class="bi bi-people"></i>
                            Recommended To a Co-Worker
                        </button>

                        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Recommend to a Co-Worker</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        @foreach (var u in Model.UserList)
                                        {

                                            <div class="mt-2" style="display : flex; justify-content : space-between;">

                                                <span class="me-4 ">@u.FirstName @u.LastName</span>


                                                <span style="margin-left : 6%;" mailto:class="invited-@u.UserId"><button class="btn btn-outline-primary model-button model-invite-btn" @*data-mission-id="@mission_id" data-from-user-id="@Id" data-to-user-id="@u.UserId"*@>Invite</button></span>

                                            </div>
                                        }
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <a  class="btn card-btn" style="margin: 2rem 1rem;" href="@Url.Action("MissionDetail", "Home", new{MissionId = Model.GetStoryDetails.MissionId })">
                            Open Mission &nbsp; &nbsp;
                            <img src="~/images/right-arrow.png">
                            <img src="~/images/right-arrow2.png">
                        </a>

                    </div>
                </div>
            </div>
        </div> 
    </div>

    <div class="row my-5">
        <ul class="nav nav-tabs" style="border-bottom:1px solid #E8E8E8" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" href="#StoryTitle">@Model.GetStoryDetails.Title</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="StoryTitle" class="container tab-pane active">
                <br>
                <h3>Introduction</h3>
                    <p>@Model.GetStoryDetails.Description</p>
            </div>
         </div>
    </div>
</div>

<script>
    function websiteVisits(response) {

    document.querySelector("#visits").textContent = response.value;
}

    var swiper = new Swiper(".mySwiper", {
        loop: true,
        spaceBetween: 10,
        slidesPerView: 4,
        freeMode: true,
        watchSlidesProgress: true,
    });
    var swiper2 = new Swiper(".mySwiper2", {
        loop: true,
        spaceBetween: 10,
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        thumbs: {
            swiper: swiper,
        },
    });
</script>