@using System.Security.Policy;
@{
    Layout = "_Layout";
    ViewData["Title"] = "Volunteering Timesheet";
    var UserId = Convert.ToInt64(ViewBag.UserId);
}
@*@{
    var UserId = Convert.ToInt64(ViewBag.UserId);
}*@

@model CI_Platform.Entities.ViewModels.TimesheetViewModel
@*datatable*@
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.3/css/dataTables.bootstrap5.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.4.0/css/responsive.bootstrap5.min.css">


<div class="container timesheet">
    <h2 class="mt-5 mb-3 mx-2">Volunteering Timesheet </h2>
    <div class="row">
        @* volunteering time timesheet*@

        <div class="col-md-6">
            <div class="card mt-3" style="min-height:50vh;">
                <div class="card-body p-2">
                    <div class="card-title my-4 d-flex justify-content-between ">
                        <div>Volunteering Hours</div>
                        <button class="card-btn py-1 px-2 AddButtonTimesheet" data-bs-toggle="modal"
                                data-bs-target="#TimeEntryModal" >
                            <i class="bi bi-plus"></i>&nbsp;&nbsp;
                            Add
                        </button>
                        <!-- Modal for add time entry modal  -->
                        <div class="modal fade" id="TimeEntryModal" tabindex="-1"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <p class="modal-title fs-5" id="exampleModalLabel">Please Input below Volunteering Hours</p>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="post" id="TimeFormTimesheet">

                                            <input type="hidden" asp-for="TimeViewModel.TimesheetId" id="TimeBasedTimesheetId" />
                                            <div class="mb-3">
                                                <label for="MissionNameLabel" class="form-label">Mission</label>
                                                <select asp-for="TimeViewModel.MissionId" type="text" class="form-select TimesheetSelection" id="TimeAddSelection">
                                                    <option selected readonly> Select Mission Title</option>
                                                    @if (Model.GetMissionTitles.Any())
                                                    {
                                                        @foreach (var mission_list in Model.GetMissionTitles.Where(m => m.Mission.MissionType == "Time"))
                                                        {
                                                            <option id="TimeMissionSelectionDropdown" value="@mission_list.Mission.MissionId">@mission_list.Mission.Title</option>

                                                        }
                                                    }

                                                </select>
                                                <span asp-validation-for="TimeViewModel.MissionId" class="validate-text text-danger"></span>
                                            </div>
                                            <div class="mb-3">
                                                <label asp-for="TimeViewModel.TimeDate" for="" class="form-label">Date Volunteered</label>
                                                <input asp-for="TimeViewModel.TimeDate" name="TimeViewModel.TimeDate" type="date" class="form-control" id="TimeDate" placeholder="Enter Date">
                                                <span asp-validation-for="TimeViewModel.TimeDate" class="validate-text text-danger"></span>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-md-6">
                                                    <label asp-for="TimeViewModel.TimeHours" for="MissionHours" class="form-label">Hours</label>
                                                    <input asp-for="TimeViewModel.TimeHours" name="TimeViewModel.TimeHours" type="text" class="form-control" placeholder="Enter Spent Hours" id="TimeHours">
                                                    <span asp-validation-for="TimeViewModel.TimeHours" class="validate-text text-danger"></span>

                                                </div>
                                                <div class="col-md-6">
                                                    <label asp-for="TimeViewModel.TimeMinutes" for="MissionMinutes" class="form-label">Minutes</label>
                                                    <input asp-for="TimeViewModel.TimeMinutes" name="TimeViewModel.TimeMinutes" type="text" class="form-control" placeholder="Enter Spent Minutes" id="TimeMinutes">
                                                    <span asp-validation-for="TimeViewModel.TimeMinutes" class="validate-text text-danger"></span>

                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <label asp-for="TimeViewModel.TimeMessage" for="exampleFormControlTextarea1" class="form-label">Message</label>
                                                <textarea asp-for="TimeViewModel.TimeMessage" class="form-control" placeholder="Enter Your Message" id="TimeMessageTextarea" rows="3"></textarea>
                                                <span class="text-danger validate-text" asp-validation-for="TimeViewModel.TimeMessage"></span>

                                            </div>
                                            <div class="mb-3 d-flex justify-content-end">
                                                <button type="button" class=" me-3 btn rounded-pill btn-outline-secondary"
                                                        data-bs-dismiss="modal">
                                                    Cancel
                                                </button>
                                                <button type="submit"  asp-controller="VolunteeringTimesheet" asp-action="AddOrUpdateTimesheetData" class="btn card-btn TimesheetSubmitBtn">Submit</button>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="time-mission-entry-card table-responsive-xxl">
                        <table id="timeTable" class="table align-middle ">
                            <thead>
                                <tr>
                                    <td>Mission</td>
                                    <td>Date</td>
                                    <td>Hours</td>
                                    <td>Minutes</td>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.GetTimesheetData.Any())
                                {


                                    @foreach (var time_missions in Model.GetTimesheetData.Where(m => m.Mission.MissionType == "Time"))
                                    {
                                        <tr>
                                            <td >@time_missions.Mission.Title</td>
                                            <td >@time_missions.DateVolunteered.ToShortDateString()</td>
                                            <td>@time_missions.Time.Value.ToString("hh")</td>
                                            <td>@time_missions.Time.Value.ToString("mm")</td>

                                            <td>
                                                @if(time_missions.Status == "PENDING")
                                                {
                                                <button class="btn p-0 EditButtonDataFetch" id="TimeMissionEditBtn" data-timesheet-id="@time_missions.TimesheetId" data-bs-toggle="modal" data-bs-target="#TimeEntryModal">
                                                    <i style="color: #F88634;" class="bi bi-pencil-square"></i>
                                                </button>

                                                    <button class="p-0 btn" data-bs-toggle="modal" data-bs-target="#DeleteTimeEntry">
                                                    <i class="bi bi-trash"> </i>
                                                    </button>
                                                }
                                                else if (time_missions.Status == "APPROVED" || time_missions.Status == "DECLINED")
                                                {
                                                    <button class="ViewButtonDataFetch card-btn " data-bs-toggle="modal" data-bs-target="#TimeEntryModal" data-timesheet-id="@time_missions.TimesheetId">
                                                        View
                                                    </button>
                                                }

                                                <!-- Modal -->
                                                <div class="modal fade" id="DeleteTimeEntry" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div>Are you sure you want to delete "@time_missions.Mission.Title" entered by you on @time_missions.CreatedAt??  </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="me-3 btn rounded-pill btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                                                                <a class="btn rounded-pill btn-outline-danger" href="@Url.Action("DeleteTimesheetData", "VolunteeringTimesheet", new { TimesheetId = time_missions.TimesheetId })">Delete</a>
                                                        
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                              

                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="4" class="border-0">Please enter your volunteering details!!!</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
        @* volunteering goal timesheet*@
        <div class="col-md-6">
            <div class="card mt-3" style="min-height:50vh;">
                <div class="card-body p-2">
                    <div class="card-title my-4 d-flex justify-content-between">
                        <div>Volunteering Goal</div>
                        <button class="card-btn py-1 px-2 AddButtonTimesheet" data-bs-toggle="modal"
                                data-bs-target="#GoalAddEntryModal">
                            <i class="bi bi-plus"></i>&nbsp;&nbsp;
                            Add
                        </button>
                        <!-- Modal for add goal entry -->
                        <div class="modal fade" id="GoalAddEntryModal" tabindex="-1"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <p class="modal-title fs-5" id="exampleModalLabel">Please Input below Volunteering Goal</p>
                                        <button type="button" class="btn-close " data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="post" id="GoalFormTimesheet">

                                            <input type="hidden" asp-for="GoalViewModel.TimesheetId" id="GoalTimesheetId"  />

                                            <div class="mb-3">
                                                <label for="MissionNameLabel" class="form-label">Mission</label>
                                                <select asp-for="GoalViewModel.MissionId"  type="text" class="form-select TimesheetSelection " id="GoalAddSelection">
                                                    <option selected disabled> Select Mission Title </option>
                                                    @if (Model.GetMissionTitles.Any())
                                                    {
                                                        @foreach (var mission_list in Model.GetMissionTitles.Where(m => m.Mission.MissionType == "Goal"))
                                                        {
                                                            <option id="GoalMissionSelectionDropdown" value="@mission_list.Mission.MissionId">@mission_list.Mission.Title</option>
                                                        }
                                                    }
                                                </select>
                                                <span class="text-danger validate-text" asp-validation-for="GoalViewModel.MissionId"></span>

                                            </div>
                                            <div class="mb-3">
                                                <label asp-for="GoalViewModel.Action" for="GoalActionsLabel" class="form-label">Actions</label>
                                                <input asp-for="GoalViewModel.Action" type="text" class="form-control" id="GoalActions" placeholder="Enter Actions">
                                                <span class="text-danger validate-text" asp-validation-for="GoalViewModel.Action"></span>


                                            </div>
                                            <div class="mb-3">
                                                <label asp-for="GoalViewModel.TimeDate" for="" class="form-label">Date Volunteered</label>
                                                <input asp-for="GoalViewModel.TimeDate" type="date" class="form-control" id="GoalDate" placeholder="Enter Date">
                                                <span class="text-danger validate-text" asp-validation-for="GoalViewModel.TimeDate"></span>


                                            </div>
                                            <div class="mb-3">
                                                <label asp-for="GoalViewModel.GoalMessage" for="exampleFormControlTextarea1" class="form-label">Message</label>
                                                <textarea asp-for="GoalViewModel.GoalMessage" class="form-control" placeholder="Enter Your Message" id="GoalMessageTextarea" rows="3"></textarea>
                                                <span class="text-danger validate-text" asp-validation-for="GoalViewModel.GoalMessage"></span>

                                            </div>
                                            <div class="mb-3 d-flex justify-content-end">
                                                <button type="button" class=" me-3 btn rounded-pill btn-outline-secondary"
                                                        data-bs-dismiss="modal">
                                                    Cancel
                                                </button>
                                                <button type="submit" asp-controller="VolunteeringTimesheet" asp-action="AddOrUpdateTimesheetData" class="btn card-btn TimesheetSubmitBtn">Submit</button>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="goal-mission-entry-card table-responsive-xxl">
                        <table id="goalTable" class="table align-middle">
                            <thead>
                                <tr>
                                    <td>Mission</td>
                                    <td>Date</td>
                                    <td>Action</td>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.GetTimesheetData.Any())
                                {

                                    @foreach (var goal_missions in Model.GetTimesheetData.Where(m => m.Mission.MissionType == "Goal"))
                                    {
                                        <tr>
                                            <td>@goal_missions.Mission.Title</td>
                                            <td>@goal_missions.DateVolunteered.ToShortDateString()</td>
                                            <td>@goal_missions.Action</td>

                                            <td>
                                                @if (goal_missions.Status == "PENDING")
                                                {
                                                    <button class="btn p-0 EditButtonDataFetch" id="EditButtonDataFetch" data-timesheet-id="@goal_missions.TimesheetId" data-bs-toggle="modal" data-bs-target="#GoalAddEntryModal">
                                                        <i style="color: #F88634;" class="bi bi-pencil-square"></i>
                                                    </button>

                                                    <button class="p-0 btn" data-bs-toggle="modal" data-bs-target="#DeleteGoalEntry">
                                                        <i class="bi bi-trash"> </i>
                                                    </button>
                                                }
                                                else if (goal_missions.Status == "APPROVED" || goal_missions.Status == "DECLINED")
                                                {
                                                    <button class="ViewButtonDataFetch card-btn " data-bs-toggle="modal" data-bs-target="#GoalAddEntryModal" data-timesheet-id="@goal_missions.TimesheetId">
                                                        View
                                                    </button>
                                                }
                                               @* <button class="btn p-0 EditButtonDataFetch"  data-timesheet-id="@goal_missions.TimesheetId" data-bs-toggle="modal" data-bs-target="#GoalAddEntryModal">
                                                    <i style="color: #F88634;" class="bi bi-pencil-square"></i>
                                                </button>

                                                <button class="p-0 btn" data-bs-toggle="modal" data-bs-target="#DeleteGoalEntry">
                                                    <i class="bi bi-trash"> </i>
                                                </button>*@

                                                <!-- Modal -->
                                                <div class="modal fade" id="DeleteGoalEntry" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div>Are you sure you want to delete "@goal_missions.Mission.Title" entered by you on @goal_missions.CreatedAt??  </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="me-3 btn rounded-pill btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                                                                <a class="btn rounded-pill btn-outline-danger" href="@Url.Action("DeleteGoalTimesheetData", "VolunteeringTimesheet", new { TimesheetId = goal_missions.TimesheetId })">Delete</a>
                                                              
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                

                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="3" class="border-0">Please enter your volunteering details!!!</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                }
                                
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@*datatble*@

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.3/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.4.0/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.4.0/js/responsive.bootstrap5.min.js"></script>
<script>
    $('#timeTable').DataTable({
        scrollX: false,
        lengthChange: false,
        paging: false,
        searching: false,
        columnDefs: [
            { "orderable": false, "targets": 0 },
            { "orderData": [1] },
            { "orderData": [2] },
            { "orderable": false, "targets": 3 },
            { "orderable": false, "targets": 4 }
        ],
        order: [[1, "asc"], [2, "asc"]] // sort by date (column 1) ascending, then by hours (column 2) ascending
    });

    $('#goalTable').DataTable({
        scrollX: false,
        lengthChange: false,
        paging: false,
        searching: false,
        columnDefs: [
            { "orderable": false, "targets": 0 },
            { "orderData": [1] },
            { "orderData": [2] },
            { "orderable": false, "targets": 3 },
        ],
        order: [[1, "asc"], [2, "asc"]] // sort by date (column 1) ascending, then by hours (column 2) ascending
    });
</script>

@section scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}